Repository biopython/biopython: changes, and which pre-commit hooks are due for each by the changed paths.
All: doi-link-style, contrib-sort

doi-link-style:
  name: Enforce https://doi.org/ style
  description: Check DOI link style, see https://www.crossref.org/display-guidelines/
  entry: (?i)(doi:|dx\.doi\.org|http://doi\.org)
  language: pygrep

contrib-sort:
  name: Contributor sorting
  description: Confirms alphabetical sorting of the CONTRIB.rst file
  entry: bash -c 'for n in $(seq 0 "$#"); do grep "^- " "${!n}" | LC_ALL=C sort -u -c -f; done'
  language: system

Update Python 3.9 in DEPRECATED file
  DEPRECATED.rst
Due: doi-link-style

Quote 3.10 to avoid it being parsed as 3.1
  .github/workflows/ci.yml
Due: none

remove deprecated MaxEntropy, MarkovModel, etc (#4909)
  Bio/LogisticRegression.py
  Bio/MarkovModel.py
  Bio/MaxEntropy.py
  Bio/NaiveBayes.py
  Bio/kNN.py
  DEPRECATED.rst
  Tests/test_LogisticRegression.py
  Tests/test_MarkovModel.py
  Tests/test_NaiveBayes.py
  Tests/test_kNN.py
Due: doi-link-style

remove deprecated functionality from Bio.Align.AlignInfo (#4907)
  Bio/Align/AlignInfo.py
  DEPRECATED.rst
  Doc/Tutorial/chapter_msa.rst
  Tests/test_AlignIO.py
  Tests/test_AlignInfo.py
  Tests/test_align.py
Due: doi-link-style

Explicitly use Python 3.10 on AppVeyor
  .appveyor.yml
Due: none

Last 32bit Windows MiniConda was for Python 3.9
  .appveyor.yml
Due: none

Fix minconda URL variables
  .appveyor.yml
Due: none

Drop Python 3.9; focus tests on 3.10 and 3.13 (#4912)
  .appveyor.yml
  .circleci/config.yml
  .github/workflows/ci.yml
  DEPRECATED.rst
  setup.py
Due: doi-link-style

Can drop Optional and Union in typing on Python 3.10 onwards
  Bio/Align/interfaces.py
  Bio/AlignIO/NexusIO.py
  Bio/Data/CodonTable.py
  Bio/Nexus/Nodes.py
  Bio/PDB/Atom.py
  Bio/PDB/Chain.py
  Bio/PDB/Entity.py
  Bio/PDB/PDBList.py
  Bio/PDB/PDBMLParser.py
  Bio/PDB/PICIO.py
  Bio/PDB/StructureBuilder.py
  Bio/PDB/alphafold_db.py
  Bio/PDB/binary_cif.py
  Bio/PDB/ic_rebuild.py
  Bio/PDB/internal_coords.py
  Bio/PDB/vectors.py
  Bio/SearchIO/ExonerateIO/_base.py
  Bio/SearchIO/_model/_base.py
  Bio/Seq.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/__init__.py
  Bio/SeqRecord.py
  Bio/UniProt/__init__.py
  Bio/_utils.py
Due: none

Tell black we're targetting Python 3.10 onwards now
  .pre-commit-config.yaml
Due: none

Fix float | None | None from Optional[Union[float, None]]
  Bio/PDB/PICIO.py
  Bio/PDB/internal_coords.py
Due: none

bugfix
  Bio/Align/__init__.py
  Doc/Tutorial/chapter_align.rst
Due: doi-link-style

Correct 1.85 to 1.86 for today's changes
  DEPRECATED.rst
Due: doi-link-style

bugfix (#4914)
  Bio/Align/__init__.py
  Doc/Tutorial/chapter_align.rst
Due: doi-link-style

fix typo in chapter_pairwise.rst
  Doc/Tutorial/chapter_pairwise.rst
Due: doi-link-style

fix Doc/conf.py
  Doc/conf.py
Due: none

Correct release these were dropped in - will be 1.86
  DEPRECATED.rst
Due: doi-link-style

remove deprecated code from Bio.motifs
  Bio/motifs/__init__.py
  DEPRECATED.rst
  Tests/test_motifs.py
Due: doi-link-style

remove deprecated code from Bio.motifs (#4915)
  Bio/motifs/__init__.py
  DEPRECATED.rst
  Tests/test_motifs.py
Due: doi-link-style

remove deprecated code
  Bio/SeqFeature.py
  DEPRECATED.rst
Due: doi-link-style

remove deprecated aliases
  Tests/seq_tests_common.py
  Tests/test_SeqFeature.py
  Tests/test_SeqIO_features.py
Due: none

remove deprecated .strand, .ref and .ref_db from Seqfeature (#4916)
  Bio/SeqFeature.py
  DEPRECATED.rst
  Tests/seq_tests_common.py
  Tests/test_SeqFeature.py
  Tests/test_SeqIO_features.py
Due: doi-link-style

Updated counter in cmsearch tabular tests to match cmsearch text output method
  Tests/test_SearchIO_infernal_tab.py
Due: none

Added Infernal text output parser and tests
  Bio/SearchIO/InfernalIO/__init__.py
  Bio/SearchIO/InfernalIO/infernal_text.py
  Bio/SearchIO/__init__.py
  Tests/Infernal/5S_Yeast-noali.txt
  Tests/Infernal/U2_Yeast-hmmonly.txt
  Tests/test_SearchIO_infernal_text.py
Due: none

Added tests for cmsearch output with multiple queries
  Tests/Infernal/U2_Yeast-threshold-noali.txt
  Tests/test_SearchIO_infernal_text.py
Due: none

Removed redundant code for parsing of standard and --noali output formats
  Bio/SearchIO/InfernalIO/infernal_text.py
Due: none

Added Infernal tabular format parser and tests
  Bio/SearchIO/InfernalIO/__init__.py
  Bio/SearchIO/InfernalIO/infernal_tab.py
  Bio/SearchIO/__init__.py
  Tests/Infernal/IRES_5S_U2_Yeast-cmscan-fmt_2.tbl
  Tests/Infernal/IRES_5S_U2_Yeast-cmscan-fmt_3.tbl
  Tests/Infernal/IRES_5S_U2_Yeast-cmscan.tbl
  Tests/Infernal/IRES_5S_U2_Yeast-cmscan.txt
  Tests/Infernal/IRES_5S_U2_Yeast-cmscan_fmt_2.tbl
  Tests/test_SearchIO_hmmer3_tab.py
  Tests/test_SearchIO_infernal_tab.py
Due: none

Added support for cmsearch hits with non-consecutive hits
  Bio/SearchIO/InfernalIO/_base.py
  Bio/SearchIO/InfernalIO/infernal_tab.py
  Bio/SearchIO/InfernalIO/infernal_text.py
  Tests/Infernal/U2_Yeast-noali.txt
  Tests/Infernal/U2_Yeast-shuf.tbl
  Tests/Infernal/U2_Yeast-shuf.txt
  Tests/test_SearchIO_infernal_tab.py
  Tests/test_SearchIO_infernal_text.py
Due: none

Added cmsearch and cmscan result files for testing
  Tests/Infernal/5S_Yeast.tbl
  Tests/Infernal/5S_Yeast.txt
  Tests/Infernal/IRES_5S_U2_Yeast-cmscan.tbl
  Tests/Infernal/IRES_5S_U2_Yeast-cmscan.txt
  Tests/Infernal/IRES_5S_U2_Yeast-cmscan_fmt_2.tbl
  Tests/Infernal/IRES_5S_U2_Yeast.txt
  Tests/Infernal/IRES_Yeast.tbl
  Tests/Infernal/IRES_Yeast.txt
  Tests/Infernal/U2_Yeast-noali.txt
  Tests/Infernal/U2_Yeast-threshold.tbl
  Tests/Infernal/U2_Yeast-threshold.txt
  Tests/Infernal/U2_Yeast.txt
Due: none

Added support for HMM-only searches
  Bio/SearchIO/InfernalIO/infernal_text.py
  Tests/test_SearchIO_infernal_text.py
Due: none

Add InfernalIO module to setup.py
  setup.py
Due: none

Updated contribution
  CONTRIB.rst
Due: doi-link-style, contrib-sort

Added infernal text indexer
  Bio/SearchIO/InfernalIO/__init__.py
  Bio/SearchIO/InfernalIO/infernal_text.py
  Bio/SearchIO/__init__.py
  Tests/test_SearchIO_infernal_text_index.py
Due: none

Update docstring
  Bio/SearchIO/InfernalIO/__init__.py
Due: none

Fixed formatting
  Bio/SearchIO/InfernalIO/__init__.py
  Bio/SearchIO/InfernalIO/_base.py
  Bio/SearchIO/InfernalIO/infernal_tab.py
  Bio/SearchIO/InfernalIO/infernal_text.py
  Bio/SearchIO/__init__.py
  Tests/test_SearchIO_infernal_tab.py
  Tests/test_SearchIO_infernal_tab_index.py
  Tests/test_SearchIO_infernal_text.py
  Tests/test_SearchIO_infernal_text_index.py
Due: none

Path conditions:
  doi-link-style: any of: \.(rst|tex)$
  contrib-sort: any of: ^CONTRIB\.rst$
