Repository biopython/biopython: changes, and which pre-commit hooks are due for each by the changed paths.
All: doi-link-style, contrib-sort

doi-link-style:
  name: Enforce https://doi.org/ style
  description: Check DOI link style, see https://www.crossref.org/display-guidelines/
  entry: (?i)(doi:|dx\.doi\.org|http://doi\.org)
  language: pygrep

contrib-sort:
  name: Contributor sorting
  description: Confirms alphabetical sorting of the CONTRIB.rst file
  entry: bash -c 'for n in $(seq 0 "$#"); do grep "^- " "${!n}" | LC_ALL=C sort -u -c -f; done'
  language: system

documentation
  Doc/Tutorial/chapter_pairwise.rst
Due: doi-link-style

flake
  Tests/test_pairwise_aligner.py
Due: none

black
  Bio/Align/__init__.py
  Tests/test_pairwise_aligner.py
Due: none

deprecated
  DEPRECATED.rst
Due: doi-link-style

PairwiseAligner attribute names (#4933)
  Bio/Align/__init__.py
  Bio/Align/_pairwisealigner.c
  DEPRECATED.rst
  Doc/Tutorial/chapter_pairwise.rst
  Tests/test_pairwise_aligner.py
Due: doi-link-style

remove unused variable
  Tests/test_PDB_KDTree.py
Due: none

Updated pylab to matplotlib.pyplot.
  Doc/Tutorial/chapter_cookbook.rst
Due: doi-link-style

Updated_pylab_to_pyplot_chapter_cookbook
  Doc/Tutorial/chapter_cookbook.rst
Due: doi-link-style

remove unused variable (#4934)
  Tests/test_PDB_KDTree.py
Due: none

Deprecate MMTF format in PDBList
  Bio/PDB/PDBList.py
  Tests/test_PDB_PDBList.py
Due: none

Add BinaryCIF support to PDBList
  Bio/PDB/PDBList.py
  Tests/test_PDB_PDBList.py
Due: none

Update NEWS
  NEWS.rst
Due: doi-link-style

Updated pylab to pyplot in chapter_seqio.
  Doc/Tutorial/chapter_seqio.rst
Due: doi-link-style

Updated matplotlib pylab to pyplot in cookbook (#4937)
  Doc/Tutorial/chapter_cookbook.rst
  Doc/Tutorial/chapter_seqio.rst
Due: doi-link-style

Update_sphinx_rtd_theme_v3
  .circleci/requirements-sphinx.txt
Due: none

closes #4940
  Bio/Restriction/Restriction.py
Due: none

include test outputs in gitignore
  .gitignore
Due: none

Update Restriction.py
  Bio/Restriction/Restriction.py
Due: none

fix test
  Tests/test_Restriction.py
Due: none

Sphinx_rtd_theme update (#4939)
  .circleci/requirements-sphinx.txt
Due: none

avoid next() so we can use NamedTemporaryFile
  Bio/Align/chain.py
  Tests/test_Align_chain.py
Due: none

avoid next() so we can use NamedTemporaryFile (#4945)
  Bio/Align/chain.py
  Tests/test_Align_chain.py
Due: none

avoid next() so we can use NamedTemporaryFile
  Bio/Align/clustal.py
  Tests/test_Align_clustal.py
Due: none

avoid next() so we can use NamedTemporaryFile (#4946)
  Bio/Align/clustal.py
  Tests/test_Align_clustal.py
Due: none

Bio.Align emboss, avoid next() so we can use NamedTemporaryFile
  Bio/Align/chain.py
  Bio/Align/clustal.py
  Bio/Align/emboss.py
  Tests/test_Align_emboss.py
Due: none

Bio.Align emboss, avoid next() so we can use NamedTemporaryFile (#4947)
  Bio/Align/chain.py
  Bio/Align/clustal.py
  Bio/Align/emboss.py
  Tests/test_Align_emboss.py
Due: none

Bio.Align exonerate, avoid next() so we can use NamedTemporaryFile
  Bio/Align/exonerate.py
Due: none

Bio.Align exonerate, avoid next() so we can use NamedTemporaryFile (#4948)
  Bio/Align/exonerate.py
Due: none

Bio.Align hhr, avoid next() so we can use NamedTemporaryFile
  Bio/Align/hhr.py
  Tests/test_Align_exonerate.py
  Tests/test_Align_hhr.py
Due: none

Changed several parsers avoid using next. tempfile.NamedTemporaryFiles do not support __next__.
  Bio/AlignIO/MafIO.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/QualityIO.py
  CONTRIB.rst
  Tests/test_SeqIO.py
Due: doi-link-style, contrib-sort

Bio.Align hhr, avoid next() so we can use NamedTemporaryFile (#4949)
  Bio/Align/hhr.py
  Tests/test_Align_exonerate.py
  Tests/test_Align_hhr.py
Due: none

Bio.Align maf, avoid next() so we can use NamedTemporaryFile
  Bio/Align/maf.py
  Tests/test_Align_maf.py
Due: none

Bio.Align maf, avoid next() so we can use NamedTemporaryFile (#4950)
  Bio/Align/maf.py
  Tests/test_Align_maf.py
Due: none

Bio.Align msf, avoid next() so we can use NamedTemporaryFile
  Bio/Align/msf.py
Due: none

Bio.Align msf, avoid next() so we can use NamedTemporaryFile (#4951)
  Bio/Align/msf.py
Due: none

Bio.Align nexus, avoid next() so we can use NamedTemporaryFile
  Bio/Align/nexus.py
  Tests/test_Align_nexus.py
Due: none

Bio.Align nexus, avoid next() so we can use NamedTemporaryFile (#4952)
  Bio/Align/nexus.py
  Tests/test_Align_nexus.py
Due: none

Path conditions:
  doi-link-style: any of: \.(rst|tex)$
  contrib-sort: any of: ^CONTRIB\.rst$
