Repository biopython/biopython: changes, and which pre-commit hooks are due for each by the changed paths.
All: doi-link-style, contrib-sort

.pre-commit-config.yaml:

# See CONTRIBUTING.rst, we expect this to be run via a git pre-commit hook.
# You can also run the checks directly at the terminal, e.g.
#
# $ pre-commit run --all-files
#
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-executables-have-shebangs
        files: \.(py|sh)$
    -   id: check-json
    -   id: end-of-file-fixer
        files: \.py$
    -   id: mixed-line-ending
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
    # Run the Ruff linter.
    -   id: ruff
        args: [
            '--fix',
            '--extend-select=B,C4,D,ISC,UP',
            '--extend-ignore=E501,F401,F841,D105,D2,D4',
            '--extend-ignore=B007,B009,B010,B018,B028,B904,UP031',
            '--extend-per-file-ignores=Tests/*.py:D101,Tests/*.py:D102,Tests/*.py:D103',
            '--extend-per-file-ignores=Tests/*.py:B015',
            '--config=lint.isort.force-single-line=true',
            '--config=lint.isort.order-by-type=false',
        ]
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    -   id: black
        args: [--check,--target-version,py39]
-   repo: https://github.com/PyCQA/flake8
    rev: 7.1.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-rst-docstrings>=0.2.3',
        ]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.1
    hooks:
    -   id: mypy
        # equivalent to "files" in .mypy.ini
        files: '^(Bio|BioSQL)/'
-   repo: https://github.com/asottile/blacken-docs
    rev: 1.18.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.2.0]
        exclude: ^.github/
-   repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.0
    hooks:
    -   id: rstcheck
        args: [
            '--ignore-roles=ref,numref,py:mod',
            --ignore-directives=toctree,
            --ignore-substitutions=version,
            --report-level=warning,
            --ignore-messages=Unknown\ target\ name
        ]
-   repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
    -   id: doc8
        additional_dependencies: [pygments]
        args: [
        --quiet,
        --ignore-path=Doc/examples/ec_*.txt,
        '--ignore=D000,D001,D002,D004'
    ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        files: \.(rst|md)$
        args: [
            --ignore-regex,
            '(^|\W)([A-Z]{2,3})(\W|$)',
            -L,
            'ser,hsa,hist,fpr,blosum,ags,manuel,Mian'
        ]
-   repo: local
    hooks:
    -   id: doi-link-style
        name: Enforce https://doi.org/ style
        description: Check DOI link style, see https://www.crossref.org/display-guidelines/
        entry: '(?i)(doi:|dx\.doi\.org|http://doi\.org)'
        language: pygrep
        files: \.(rst|tex)$
    -   id: contrib-sort
        name: Contributor sorting
        description: Confirms alphabetical sorting of the CONTRIB.rst file
        entry: bash -c 'for n in $(seq 0 "$#"); do grep "^- " "${!n}" | LC_ALL=C sort -u -c -f; done'
        #entry: 'grep "^- " CONTRIB.rst | LC_ALL=C sort -u -c -f'
        language: system
        files: ^CONTRIB\.rst$
ci:
    # Settings for the https://pre-commit.ci/ continuous integration service
    autofix_prs: true
    # Default message is more verbose
    autoupdate_commit_msg: '[pre-commit.ci] autoupdate'
    # Default is weekly
    autoupdate_schedule: quarterly
    # Currently pre-commit.ci checks all files, and all hooks takes too long
    # and causes a timeout - so as a short-term workaround, skip flake8 etc:
    skip: [
        check-json,
        mixed-line-ending,
        flake8,
        rstcheck,
        doc8,
        codespell,
        doi-link-style
    ]

update
  Tests/Entrez/einfo2.xml
  Tests/Entrez/einfo3.xml
  Tests/Entrez/einfo4.xml
  Tests/test_Entrez_parser.py
Due: none

update
  Tests/Entrez/egquery1.xml
  Tests/Entrez/egquery2.xml
  Tests/Entrez/elink4.xml
  Tests/Entrez/elink5.xml
  Tests/Entrez/elink6.xml
  Tests/Entrez/elink7.xml
  Tests/Entrez/elink8.xml
  Tests/test_Entrez_parser.py
Due: none

update
  Tests/Entrez/elink1.xml
  Tests/Entrez/elink2.xml
  Tests/test_Entrez_parser.py
Due: none

update
  Tests/Entrez/elink3.xml
  Tests/test_Entrez_parser.py
Due: none

README.rst: Mass-replace http:// links with https://
  README.rst
Due: doi-link-style

update
  Tests/test_Entrez_parser.py
Due: none

update
  Bio/Entrez/Parser.py
  Bio/Entrez/__init__.py
Due: none

fix parsing of snapgene features with linebreaks in qualifier values; closes #5116
  Bio/SeqIO/SnapGeneIO.py
  Tests/SnapGene/linebreak_in_qualifier_text.dna
  Tests/test_SeqIO_SnapGene.py
Due: none

update NEWS
  NEWS.rst
Due: doi-link-style

docs: clarify Visual Studio Build Tools requirements for Windows
  README.rst
Due: doi-link-style

use an existing pdb file for the test
  Tests/PDB/bromomethane.pdb
  Tests/test_PDB_PDBIO.py
Due: none

address review
  Bio/SeqIO/SnapGeneIO.py
  Tests/test_SeqIO_SnapGene.py
Due: none

address review
  NEWS.rst
  Tests/test_SeqIO_SnapGene.py
Due: doi-link-style

Fix parsing of snapgene features with linebreaks in qualifier values (#5117)
  Bio/SeqIO/SnapGeneIO.py
  NEWS.rst
  Tests/SnapGene/linebreak_in_qualifier_text.dna
  Tests/test_SeqIO_SnapGene.py
Due: doi-link-style

Fix README formatting per review
  README.rst
Due: doi-link-style

Fix run on text; drop old term Mac OS
  README.rst
Due: doi-link-style

add missing space in the format string
  Bio/PDB/PDBIO.py
Due: none

test for fixed format string
  Tests/PDB/bromomethane.pdb
  Tests/test_PDB_PDBIO.py
Due: none

Add a benchmark script for mmcif parsing
  Scripts/Performance/benchmark_mmcif_parsing.py
Due: none

Add fast path optimization for mmcif lines lacking quotes/comments
  Bio/PDB/MMCIF2Dict.py
Due: none

Add Oz Nova to contributors
  CONTRIB.rst
Due: doi-link-style, contrib-sort

Add note about editable install warning during development
  CONTRIBUTING.rst
Due: doi-link-style

Add Ayush to CONTRIBUTORS and note change in NEWS
  CONTRIB.rst
  NEWS.rst
Due: doi-link-style, contrib-sort

DOC: Clarify Visual Studio Build Tools workload requirement for Windows (#5118)
  README.rst
Due: doi-link-style

Refine note about editable install warning as per maintainer feedback
  CONTRIBUTING.rst
Due: doi-link-style

fixed bug mentioned in issue #5122 by skipping any lines in chain file starting with '#'
  Bio/Align/chain.py
  other_trees.nex
  other_trees.xml
  tree1.nwk
  tree1.xml
Due: none

Revert "fixed bug mentioned in issue #5122 by skipping any lines in chain file starting with '#'"
  Bio/Align/chain.py
  other_trees.nex
  other_trees.xml
  tree1.nwk
  tree1.xml
Due: none

fixed Issue #5122
  Bio/Align/chain.py
Due: none

Add Ben Oppenheimer to contributor list
  CONTRIB.rst
Due: doi-link-style, contrib-sort

Add Ben Oppenheimer to CONTRIB.rst
  CONTRIB.rst
Due: doi-link-style, contrib-sort

make sure that polar_angle is initialized even if the radius is zero, otherwise we will get a random value in polar_angle
  Bio/PDB/vectors.py
Due: none

Issue 5122 bug fix (#5126)
  Bio/Align/chain.py
  CONTRIB.rst
Due: doi-link-style, contrib-sort

update
  Bio/PDB/vectors.py
Due: none

Add gc_content function as a convenience wrapper around gc_fraction
  Bio/SeqUtils/gc_content.py
Due: none

Remove separate gc_content module; will add function directly to __init__.py
  Bio/SeqUtils/gc_content.py
Due: none

Add gc_content function and import
  Bio/SeqUtils/gc_content.py
Due: none

Added depreciation error to MMTFParser.get_structure_from_url since RCSB no longer serves MMTF files. MMTF fetching has already been removed elsewhere in Biopython but not here.
  Bio/PDB/mmtf/__init__.py
Due: none

Fixed errors in comments
  Bio/PDB/MMCIFParser.py
Due: none

Fix Numpy 2.4 compatibility in PDB/vectors.py
  Bio/PDB/vectors.py
Due: none
