Repository biopython/biopython: changes, and which pre-commit hooks are due for each by the changed paths.
All: doi-link-style, contrib-sort

.pre-commit-config.yaml:

# See CONTRIBUTING.rst, we expect this to be run via a git pre-commit hook.
# You can also run the checks directly at the terminal, e.g.
#
# $ pre-commit run --all-files
#
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-executables-have-shebangs
        files: \.(py|sh)$
    -   id: check-json
    -   id: end-of-file-fixer
        files: \.py$
    -   id: mixed-line-ending
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
    # Run the Ruff linter.
    -   id: ruff
        args: [
            '--fix',
            '--extend-select=B,C4,D,ISC,UP',
            '--extend-ignore=E501,F401,F841,D105,D2,D4',
            '--extend-ignore=B007,B009,B010,B018,B028,B904,UP031',
            '--extend-per-file-ignores=Tests/*.py:D101,Tests/*.py:D102,Tests/*.py:D103',
            '--extend-per-file-ignores=Tests/*.py:B015',
            '--config=lint.isort.force-single-line=true',
            '--config=lint.isort.order-by-type=false',
        ]
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    -   id: black
        args: [--check,--target-version,py39]
-   repo: https://github.com/PyCQA/flake8
    rev: 7.1.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-rst-docstrings>=0.2.3',
        ]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.1
    hooks:
    -   id: mypy
        # equivalent to "files" in .mypy.ini
        files: '^(Bio|BioSQL)/'
-   repo: https://github.com/asottile/blacken-docs
    rev: 1.18.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.2.0]
        exclude: ^.github/
-   repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.0
    hooks:
    -   id: rstcheck
        args: [
            '--ignore-roles=ref,numref,py:mod',
            --ignore-directives=toctree,
            --ignore-substitutions=version,
            --report-level=warning,
            --ignore-messages=Unknown\ target\ name
        ]
-   repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
    -   id: doc8
        additional_dependencies: [pygments]
        args: [
        --quiet,
        --ignore-path=Doc/examples/ec_*.txt,
        '--ignore=D000,D001,D002,D004'
    ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        files: \.(rst|md)$
        args: [
            --ignore-regex,
            '(^|\W)([A-Z]{2,3})(\W|$)',
            -L,
            'ser,hsa,hist,fpr,blosum,ags,manuel,Mian'
        ]
-   repo: local
    hooks:
    -   id: doi-link-style
        name: Enforce https://doi.org/ style
        description: Check DOI link style, see https://www.crossref.org/display-guidelines/
        entry: '(?i)(doi:|dx\.doi\.org|http://doi\.org)'
        language: pygrep
        files: \.(rst|tex)$
    -   id: contrib-sort
        name: Contributor sorting
        description: Confirms alphabetical sorting of the CONTRIB.rst file
        entry: bash -c 'for n in $(seq 0 "$#"); do grep "^- " "${!n}" | LC_ALL=C sort -u -c -f; done'
        #entry: 'grep "^- " CONTRIB.rst | LC_ALL=C sort -u -c -f'
        language: system
        files: ^CONTRIB\.rst$
ci:
    # Settings for the https://pre-commit.ci/ continuous integration service
    autofix_prs: true
    # Default message is more verbose
    autoupdate_commit_msg: '[pre-commit.ci] autoupdate'
    # Default is weekly
    autoupdate_schedule: quarterly
    # Currently pre-commit.ci checks all files, and all hooks takes too long
    # and causes a timeout - so as a short-term workaround, skip flake8 etc:
    skip: [
        check-json,
        mixed-line-ending,
        flake8,
        rstcheck,
        doc8,
        codespell,
        doi-link-style
    ]

Update KEGG API for conv operation
  Bio/KEGG/REST.py
  Tests/test_KEGG_online.py
Due: none

Update KEGG API for link operation
  Bio/KEGG/REST.py
  Tests/test_KEGG_online.py
Due: none

Add test cases for KEGG on offline
  Tests/test_KEGG.py
  Tests/test_KEGG_online.py
Due: none

Stay on black 24.10.0
  .pre-commit-config.yaml
Due: none

Stay on mypy v1.16.1
  .pre-commit-config.yaml
Due: none

Clarify scope based on review comment
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: drop None coordinates in HSP._get_coords instead of warning only
  Bio/SearchIO/_model/hsp.py
  Tests/test_SearchIO_model.py
Due: none

Type-annotate Bio.PDB.PDBMLParser and fix header resolution parsing
  .mypy.ini
  Bio/PDB/PDBMLParser.py
  CONTRIB.rst
  Tests/test_PDB_PDBMLParser.py
Due: doi-link-style, contrib-sort

Add title parameter to Phylo.draw
  Bio/Phylo/_utils.py
Due: none

Don't check the written data byte-by-bute, as the written data may differ between different implementations of zlib
  Tests/test_Align_bigbed.py
Due: none

Don't check the written data byte-by-bute, as the written data may differ between different implementations of zlib (#5265)
  Tests/test_Align_bigbed.py
Due: none

Add api_key to Bio.Blast.qblast and deprecate NCBIWWW.qblast
  Bio/Blast/NCBIWWW.py
  Bio/Blast/__init__.py
  DEPRECATED.rst
  NEWS.rst
  Tests/test_NCBI_qblast.py
Due: doi-link-style

Add missing docstring to TreeElement.__str__ (fixes D105)
  Bio/Phylo/BaseTree.py
Due: none

fix: reshape cel and vector arrays
  Bio/Affy/CelFile.py
  Bio/PDB/vectors.py
Due: none

Add acceptable AI uses list
  CONTRIBUTING.rst
Due: doi-link-style

Fix PDBList access to EBI and other mirrors (#3987)
  Bio/PDB/PDBList.py
  Tests/test_PDB_PDBList.py
Due: none

Deprecate query_letters and database_letters (#1000)
  Bio/Blast/NCBIXML.py
Due: none

fix: replace codecov orb with bash script, skip gpg check
  .circleci/config.yml
Due: none

fix: switch to official codecov cli to bypass GPG error
  .circleci/config.yml
Due: none

fix(codecov): add find debug to locate coverage.xml
  .circleci/config.yml
Due: none

Fix GenBank Record serialization of WGS ranges
  Bio/GenBank/Record.py
  Tests/test_GenBank.py
Due: none

Add Marcus Campbell to contributor lists
  CONTRIB.rst
  NEWS.rst
Due: doi-link-style, contrib-sort

Add supported Python versions; sort recent contributors
  NEWS.rst
Due: doi-link-style

Fix GenBank Record serialization of WGS ranges (#5275)
  Bio/GenBank/Record.py
  CONTRIB.rst
  NEWS.rst
  Tests/test_GenBank.py
Due: doi-link-style, contrib-sort

Update CircleCI to use latest CodeCov orb 6.0.0
  .circleci/config.yml
Due: none

Fix Nexus TRANSLATE block rejecting unquoted taxon names with hyphens
  Bio/Nexus/Nexus.py
  Tests/test_Nexus.py
Due: none

Add radius of gyration to Bio.PDB Entity
  Bio/PDB/Entity.py
  Tests/test_PDB_SMCRA.py
Due: none

Fix ArrayCore initialization reference handling
  Bio/Align/substitution_matrices/_arraycore.c
  CONTRIB.rst
  NEWS.rst
  Tests/arraycore_import_tests.py
  Tests/test_align_substitution_matrices.py
Due: doi-link-style, contrib-sort

Test on Python 3.15 release candidate (GitHub Action)
  .github/workflows/ci.yml
  NEWS.rst
  README.rst
Due: doi-link-style

Use globals() dict to lookup class by name rather than eval function
  Bio/Restriction/Restriction.py
  Scripts/Restriction/ranacompiler.py
Due: none

Avoid eval in Nexus parser for NTAX and NCHAR
  Bio/Nexus/Nexus.py
Due: none

Rewrite to avoid using eval in SearchIO HSP init
  Bio/SearchIO/_model/hsp.py
Due: none

Use tuple rather than list-as-string in Nexus consensus method.
  Bio/Nexus/Trees.py
Due: none

Enable ruff S307 to spot using built-in eval() function
  .pre-commit-config.yaml
Due: none

Call this Biopython 1.88
  Bio/__init__.py
  NEWS.rst
Due: doi-link-style
