Repository biopython/biopython: changes, and which pre-commit hooks are due for each by the changed paths.
All: doi-link-style, contrib-sort

.pre-commit-config.yaml:

# See CONTRIBUTING.rst, we expect this to be run via a git pre-commit hook.
# You can also run the checks directly at the terminal, e.g.
#
# $ pre-commit run --all-files
#
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-executables-have-shebangs
        files: \.(py|sh)$
    -   id: check-json
    -   id: end-of-file-fixer
        files: \.py$
    -   id: mixed-line-ending
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
    # Run the Ruff linter.
    -   id: ruff
        args: [
            '--fix',
            '--extend-select=B,C4,D,ISC,UP',
            '--extend-ignore=E501,F401,F841,D105,D2,D4',
            '--extend-ignore=B007,B009,B010,B018,B028,B904,UP031',
            '--extend-per-file-ignores=Tests/*.py:D101,Tests/*.py:D102,Tests/*.py:D103',
            '--extend-per-file-ignores=Tests/*.py:B015',
            '--config=lint.isort.force-single-line=true',
            '--config=lint.isort.order-by-type=false',
        ]
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    -   id: black
        args: [--check,--target-version,py39]
-   repo: https://github.com/PyCQA/flake8
    rev: 7.1.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-rst-docstrings>=0.2.3',
        ]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.1
    hooks:
    -   id: mypy
        # equivalent to "files" in .mypy.ini
        files: '^(Bio|BioSQL)/'
-   repo: https://github.com/asottile/blacken-docs
    rev: 1.18.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.2.0]
        exclude: ^.github/
-   repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.0
    hooks:
    -   id: rstcheck
        args: [
            '--ignore-roles=ref,numref,py:mod',
            --ignore-directives=toctree,
            --ignore-substitutions=version,
            --report-level=warning,
            --ignore-messages=Unknown\ target\ name
        ]
-   repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
    -   id: doc8
        additional_dependencies: [pygments]
        args: [
        --quiet,
        --ignore-path=Doc/examples/ec_*.txt,
        '--ignore=D000,D001,D002,D004'
    ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        files: \.(rst|md)$
        args: [
            --ignore-regex,
            '(^|\W)([A-Z]{2,3})(\W|$)',
            -L,
            'ser,hsa,hist,fpr,blosum,ags,manuel,Mian'
        ]
-   repo: local
    hooks:
    -   id: doi-link-style
        name: Enforce https://doi.org/ style
        description: Check DOI link style, see https://www.crossref.org/display-guidelines/
        entry: '(?i)(doi:|dx\.doi\.org|http://doi\.org)'
        language: pygrep
        files: \.(rst|tex)$
    -   id: contrib-sort
        name: Contributor sorting
        description: Confirms alphabetical sorting of the CONTRIB.rst file
        entry: bash -c 'for n in $(seq 0 "$#"); do grep "^- " "${!n}" | LC_ALL=C sort -u -c -f; done'
        #entry: 'grep "^- " CONTRIB.rst | LC_ALL=C sort -u -c -f'
        language: system
        files: ^CONTRIB\.rst$
ci:
    # Settings for the https://pre-commit.ci/ continuous integration service
    autofix_prs: true
    # Default message is more verbose
    autoupdate_commit_msg: '[pre-commit.ci] autoupdate'
    # Default is weekly
    autoupdate_schedule: quarterly
    # Currently pre-commit.ci checks all files, and all hooks takes too long
    # and causes a timeout - so as a short-term workaround, skip flake8 etc:
    skip: [
        check-json,
        mixed-line-ending,
        flake8,
        rstcheck,
        doc8,
        codespell,
        doi-link-style
    ]

Adjust tests for EMBL date parsing
  Tests/test_SeqIO_Insdc.py
  Tests/test_SeqIO_features.py
Due: none

Fix EMBL molecule type validation
  Bio/SeqIO/InsdcIO.py
Due: none

Add Cornelius Roemer as a contributor
  CONTRIB.rst
  NEWS.rst
Due: doi-link-style, contrib-sort

Fix QCPSuperimposer wrong rotation for collinear reference (#5309)
  Bio/PDB/qcprot.py
  NEWS.rst
  Tests/test_PDB_QCPSuperimposer.py
Due: doi-link-style

Apply black formatting to Tests/test_PDB_QCPSuperimposer.py
  Tests/test_PDB_QCPSuperimposer.py
Due: none

Fix: Update allowed mol_type values in EmblWriter
  Bio/SeqIO/InsdcIO.py
Due: none

Update contrib and news
  CONTRIB.rst
  NEWS.rst
Due: doi-link-style, contrib-sort

Fix IsoelectricPoint.pi() bracket too narrow for strongly-charged proteins (#5312)
  Bio/SeqUtils/IsoelectricPoint.py
  NEWS.rst
  Tests/test_IsoelectricPoint.py
Due: doi-link-style

updated the documentation
  Bio/Align/__init__.py
  Doc/Tutorial/chapter_pairwise.rst
Due: doi-link-style

updated the documentation
  Doc/Tutorial/chapter_pairwise.rst
Due: doi-link-style

doctest
  Bio/Align/__init__.py
Due: none

black
  Bio/Align/__init__.py
Due: none

not pretty, but I don't want to waste more time on flake stuff
  Bio/Align/__init__.py
Due: none

ELLIPSIS not needed anymore?
  Bio/Align/__init__.py
Due: none

flake
  Bio/Align/__init__.py
Due: none

updating the DEPRECATED.rst file
  DEPRECATED.rst
Due: doi-link-style

remove unused argument
  Bio/Align/__init__.py
Due: none

When the residue sequence identifier (`line[22:26]`) is empty, PDBParser defaults resseq to 0 and issues a warning.
  Bio/PDB/PDBParser.py
  CONTRIB.rst
Due: doi-link-style, contrib-sort

Document SeqRecord indexing overloads and bytes conversion
  Bio/SeqRecord.py
Due: none

Make Codecov upload non-blocking in CircleCI job
  .circleci/config.yml
Due: none

Allow CircleCI build to continue if Codecov upload fails
  .circleci/config.yml
Due: none

Apply black formatting for obsolete move regression changes
  Bio/PDB/PDBList.py
  Tests/test_PDB_PDBList.py
Due: none

Fix update_pdb obsolete move for format-specific files and assemblies
  Bio/PDB/PDBList.py
  Tests/test_PDB_PDBList.py
Due: none

Drop unrelated CircleCI Codecov tweaks from this PR
  .circleci/config.yml
Due: none

Treat an empty dictionary as a fully undefined sequence in Seq.__init__
  Bio/Seq.py
  Tests/test_seq.py
Due: none

fix(phylo): exclude skipped positions from the identity distance maximum
  Bio/Phylo/TreeConstruction.py
  Tests/test_TreeConstruction.py
Due: none

Match the surrounding test style in the regression tests
  Tests/test_TreeConstruction.py
Due: none

Add Aniruddha Adak to the contributor listing
  CONTRIB.rst
Due: doi-link-style, contrib-sort

CodonAligner convenience function
  Bio/Align/__init__.py
  Tests/test_Align_codonalign.py
Due: none

updated example in Bio.codonalign
  Bio/codonalign/__init__.py
Due: none

mnemonics
  Bio/Align/__init__.py
  Bio/codonalign/__init__.py
  Tests/test_Align_a2m.py
Due: none

modify docstrings
  Bio/SeqRecord.py
Due: none

Fix ArrayCore initialization reference handling (#5276)
  Bio/Align/substitution_matrices/_arraycore.c
  CONTRIB.rst
  NEWS.rst
  Tests/arraycore_import_tests.py
  Tests/test_align_substitution_matrices.py
Due: doi-link-style, contrib-sort

Add AI agent self-declaration instruction to CONTRIBUTING.rst
  CONTRIBUTING.rst
Due: doi-link-style
