Repository biopython/biopython: changes, and which pre-commit hooks are due for each by the changed paths.
All: doi-link-style, contrib-sort

doi-link-style:
  name: Enforce https://doi.org/ style
  description: Check DOI link style, see https://www.crossref.org/display-guidelines/
  entry: (?i)(doi:|dx\.doi\.org|http://doi\.org)
  language: pygrep

contrib-sort:
  name: Contributor sorting
  description: Confirms alphabetical sorting of the CONTRIB.rst file
  entry: bash -c 'for n in $(seq 0 "$#"); do grep "^- " "${!n}" | LC_ALL=C sort -u -c -f; done'
  language: system

update
  Bio/Align/substitution_matrices/__init__.py
  Bio/Align/substitution_matrices/_arraycore.c
Due: none

update
  Bio/Align/substitution_matrices/__init__.py
Due: none

update
  Bio/Align/substitution_matrices/_arraycore.c
Due: none

update
  Bio/Align/_pairwisealigner.c
Due: none

Update translate function test for gap='-' as new default
  Tests/test_seq.py
Due: none

Translation change in NEWS, update & sort names
  NEWS.rst
Due: doi-link-style

update
  Bio/Align/_pairwisealigner.c
  Bio/Align/substitution_matrices/_arraycore.c
  Bio/Align/substitution_matrices/_arraycore.h
Due: none

update
  Bio/Align/substitution_matrices/__init__.py
  Bio/Align/substitution_matrices/_arraycore.c
  Bio/Align/substitution_matrices/_arraycore.h
Due: none

update
  Bio/Align/_pairwisealigner.c
  Bio/Align/substitution_matrices/_arraycore.c
Due: none

update
  Bio/Align/_pairwisealigner.c
  Bio/Align/substitution_matrices/_arraycore.c
  Tests/test_pairwise_aligner.py
Due: none

updat
  Bio/Align/__init__.py
  Bio/Align/_pairwisealigner.c
  Tests/test_pairwise_aligner.py
Due: none

update
  Bio/Align/__init__.py
  Bio/Align/_pairwisealigner.c
  DEPRECATED.rst
  Doc/Tutorial/chapter_pairwise.rst
  Tests/test_pairwise_aligner.py
Due: doi-link-style

fixed PDBlist.retrieve_pdb_file(); improved error handling, should not show misleading message
  Bio/PDB/PDBList.py
Due: none

compliance with contrib guide
  CONTRIB.rst
Due: doi-link-style, contrib-sort

if error is caught should return None instead of final_file
  Bio/PDB/PDBList.py
Due: none

Path conditions:
  doi-link-style: any of: \.(rst|tex)$
  contrib-sort: any of: ^CONTRIB\.rst$
