Repository biopython/biopython: changes, and which pre-commit hooks are due for each by the changed paths.
All: doi-link-style, contrib-sort

.pre-commit-config.yaml:

# See CONTRIBUTING.rst, we expect this to be run via a git pre-commit hook.
# You can also run the checks directly at the terminal, e.g.
#
# $ pre-commit run --all-files
#
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-executables-have-shebangs
        files: \.(py|sh)$
    -   id: check-json
    -   id: end-of-file-fixer
        files: \.py$
    -   id: mixed-line-ending
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
    # Run the Ruff linter.
    -   id: ruff
        args: [
            '--fix',
            '--extend-select=B,C4,D,ISC,UP',
            '--extend-ignore=E501,F401,F841,D105,D2,D4',
            '--extend-ignore=B007,B009,B010,B018,B028,B904,UP031',
            '--extend-per-file-ignores=Tests/*.py:D101,Tests/*.py:D102,Tests/*.py:D103',
            '--extend-per-file-ignores=Tests/*.py:B015',
            '--config=lint.isort.force-single-line=true',
            '--config=lint.isort.order-by-type=false',
        ]
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    -   id: black
        args: [--check,--target-version,py39]
-   repo: https://github.com/PyCQA/flake8
    rev: 7.1.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-rst-docstrings>=0.2.3',
        ]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.1
    hooks:
    -   id: mypy
        # equivalent to "files" in .mypy.ini
        files: '^(Bio|BioSQL)/'
-   repo: https://github.com/asottile/blacken-docs
    rev: 1.18.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.2.0]
        exclude: ^.github/
-   repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.0
    hooks:
    -   id: rstcheck
        args: [
            '--ignore-roles=ref,numref,py:mod',
            --ignore-directives=toctree,
            --ignore-substitutions=version,
            --report-level=warning,
            --ignore-messages=Unknown\ target\ name
        ]
-   repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
    -   id: doc8
        additional_dependencies: [pygments]
        args: [
        --quiet,
        --ignore-path=Doc/examples/ec_*.txt,
        '--ignore=D000,D001,D002,D004'
    ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        files: \.(rst|md)$
        args: [
            --ignore-regex,
            '(^|\W)([A-Z]{2,3})(\W|$)',
            -L,
            'ser,hsa,hist,fpr,blosum,ags,manuel,Mian'
        ]
-   repo: local
    hooks:
    -   id: doi-link-style
        name: Enforce https://doi.org/ style
        description: Check DOI link style, see https://www.crossref.org/display-guidelines/
        entry: '(?i)(doi:|dx\.doi\.org|http://doi\.org)'
        language: pygrep
        files: \.(rst|tex)$
    -   id: contrib-sort
        name: Contributor sorting
        description: Confirms alphabetical sorting of the CONTRIB.rst file
        entry: bash -c 'for n in $(seq 0 "$#"); do grep "^- " "${!n}" | LC_ALL=C sort -u -c -f; done'
        #entry: 'grep "^- " CONTRIB.rst | LC_ALL=C sort -u -c -f'
        language: system
        files: ^CONTRIB\.rst$
ci:
    # Settings for the https://pre-commit.ci/ continuous integration service
    autofix_prs: true
    # Default message is more verbose
    autoupdate_commit_msg: '[pre-commit.ci] autoupdate'
    # Default is weekly
    autoupdate_schedule: quarterly
    # Currently pre-commit.ci checks all files, and all hooks takes too long
    # and causes a timeout - so as a short-term workaround, skip flake8 etc:
    skip: [
        check-json,
        mixed-line-ending,
        flake8,
        rstcheck,
        doc8,
        codespell,
        doi-link-style
    ]

Switch some percent formatting to f-strings with pyupgrade v3.19.1
  Bio/Align/bigbed.py
  Bio/Align/bigmaf.py
  Bio/Align/bigpsl.py
  Bio/Align/sam.py
  Bio/Blast/_parser.py
  Bio/PDB/internal_coords.py
  Tests/test_Align_Alignment.py
  Tests/test_Align_psl.py
Due: none

Move fallback warning inside success branch
  Bio/GenBank/Scanner.py
Due: none

Validate alphabet vs alignment letters at Motif construction
  Bio/motifs/__init__.py
  Tests/test_motifs.py
Due: none

Tolerate gap characters in Motif alphabet validation
  Bio/motifs/__init__.py
Due: none

Fix remaining flake8-docstrings D400, D401 and D402 issues.
  Bio/Align/AlignInfo.py
  Bio/PDB/PDBIO.py
  Bio/SearchIO/InfernalIO/infernal_tab.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqRecord.py
Due: none

Revert unsafe % formatting to f-string change.
  Bio/motifs/matrix.py
Due: none

Move LOCUS spacing test into test_GenBank.py
  Tests/test_GenBank.py
  Tests/test_GenBank_locus_spacing.py
Due: none

Cope with invalid strand in GenBank LOCUS line
  Bio/GenBank/Scanner.py
  Tests/test_GenBank.py
Due: none

Fix AlphaFoldDB path test on Windows
  CONTRIB.rst
  Tests/test_PDB_alphafold_db.py
Due: doi-link-style, contrib-sort

Add bulk proteome download support to alphafold_db module
  Bio/PDB/alphafold_db.py
  Tests/test_PDB_alphafold_db.py
Due: none

Pre commit test and resulting fixes
  Bio/PDB/alphafold_db.py
  Tests/test_PDB_alphafold_db.py
Due: none

Add Gabriel Franchet-Schaer to contributors list
  CONTRIB.rst
Due: doi-link-style, contrib-sort

make fix one line
  Tests/test_PDB_alphafold_db.py
Due: none

try catch loop for miniconda download.
  .appveyor.yml
Due: none

add name to contrib.rst
  CONTRIB.rst
Due: doi-link-style, contrib-sort

Fix AlphaFoldDB path test on Windows (#5220)
  CONTRIB.rst
  Tests/test_PDB_alphafold_db.py
Due: doi-link-style, contrib-sort

switch to using curl flags
  .appveyor.yml
Due: none

fix 'curl: option --retry-all-errors: is unknown'
  .appveyor.yml
Due: none

add some of docstrings
  Bio/Align/bigbed.py
  Bio/Align/hhr.py
  Bio/Align/interfaces.py
  Bio/Phylo/BaseTree.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/QualityIO.py
  Bio/phenotype/phen_micro.py
Due: none

add name
  CONTRIB.rst
Due: doi-link-style, contrib-sort

docs: d105 missing docstring in magic method
  README.rst
Due: doi-link-style

Use curl for miniconda download with retry on AppVeyor (#5223)
  .appveyor.yml
Due: none

fix: add missing docstrings to magic methods (D105)
  Bio/Align/__init__.py
  Bio/Align/bigbed.py
  Bio/Align/hhr.py
  Bio/Align/interfaces.py
  Bio/Align/substitution_matrices/__init__.py
  Bio/Blast/__init__.py
  Bio/Entrez/Parser.py
  Bio/Phylo/BaseTree.py
  Bio/Seq.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqRecord.py
  Bio/SeqUtils/__init__.py
  Bio/motifs/transfac.py
  Bio/phenotype/phen_micro.py
Due: none

Set expectations on the issue tags
  CONTRIBUTING.rst
Due: doi-link-style

Typo
  CONTRIBUTING.rst
Due: doi-link-style

Add missing magic method docstrings in SeqIO interfaces in lines 124 and 127
  Bio/SeqIO/Interfaces.py
Due: none

Black Reformatting Done
  Bio/SeqIO/Interfaces.py
Due: none

Requested changes made as per conventions
  Bio/SeqIO/Interfaces.py
Due: none

fix(PDB): extend obsolete file handling to mmCIF and XML formats
  Bio/PDB/PDBList.py
Due: none

Add pymysql driver support to BioSQL
  BioSQL/BioSeqDatabase.py
  BioSQL/DBUtils.py
  CONTRIB.rst
  NEWS.rst
Due: doi-link-style, contrib-sort

Add missing magic method docstrings in SeqIO interfaces (#5230)
  Bio/SeqIO/Interfaces.py
Due: none

Grammar suggestion
  CONTRIBUTING.rst
Due: doi-link-style

Set expectations on the issue tags (#5229)
  CONTRIBUTING.rst
Due: doi-link-style

Address review: exact error msgs, merge zero-count tests, reorder
  Tests/test_motifs.py
Due: none

Add PDB and PAE downloads to Bio.PDB.alphafold_db
  Bio/PDB/alphafold_db.py
  CONTRIB.rst
  NEWS.rst
  Tests/test_PDB_alphafold_db.py
Due: doi-link-style, contrib-sort

Add docstrings to SequenceDataAbstractBaseClass magic methods
  Bio/Seq.py
Due: none
