Repository biopython/biopython: changes, and which pre-commit hooks are due for each by the changed paths.
All: doi-link-style, contrib-sort

doi-link-style:
  name: Enforce https://doi.org/ style
  description: Check DOI link style, see https://www.crossref.org/display-guidelines/
  entry: (?i)(doi:|dx\.doi\.org|http://doi\.org)
  language: pygrep

contrib-sort:
  name: Contributor sorting
  description: Confirms alphabetical sorting of the CONTRIB.rst file
  entry: bash -c 'for n in $(seq 0 "$#"); do grep "^- " "${!n}" | LC_ALL=C sort -u -c -f; done'
  language: system

add test for strandedness alignment in GenBank writer LOCUS line export
  Tests/test_GenBank.py
Due: none

add my name to list of contributors
  CONTRIB.rst
  NEWS.rst
Due: doi-link-style, contrib-sort

edit GenBank molecule type test to test both the parser and writer
  Tests/GenBank/example_NA.gb
  Tests/test_GenBank.py
Due: none

fix strandedness export position in GenBank writer
  Bio/SeqIO/InsdcIO.py
Due: none

add NA molecule type to GenBank strandedness alignment test
  Tests/test_GenBank.py
Due: none

add test for reading and writing NA molecule type with GenBank files
  Tests/test_GenBank.py
Due: none

modify docstrings
  Bio/SeqRecord.py
Due: none

Document SeqRecord indexing overloads and bytes conversion
  Bio/SeqRecord.py
Due: none

Update __mul__ docstring to be more descriptive
  Bio/Seq.py
Due: none

Fix QCPSuperimposer returning a wrong rotation near exactly 180 degrees
  Bio/PDB/qcprot.py
  Tests/test_PDB_QCPSuperimposer.py
Due: none

Remove Bio.Seq changes per maintainer request
  Bio/Seq.py
Due: none

Stream TLEN calculation for name-grouped alignments
  Bio/Align/sam.py
  Tests/test_Align_sam.py
Due: none

Shorten TLEN writer docstrings
  Bio/Align/sam.py
Due: none

Add Zehao Wang to CONTRIB.rst listing
  CONTRIB.rst
Due: doi-link-style, contrib-sort

Add files via upload
  Bio/PDB/vectors.py
  NEWS.rst
  Tests/test_PDB_vectors.py
Due: doi-link-style

Normalize line endings for web upload
  Bio/PDB/vectors.py
  NEWS.rst
  Tests/test_PDB_vectors.py
Due: doi-link-style

Fix CAI calculation for alternative genetic codes
  Bio/SeqUtils/__init__.py
  CONTRIB.rst
  NEWS.rst
Due: doi-link-style, contrib-sort

Add a collinear reference set regression test
  Tests/test_PDB_QCPSuperimposer.py
Due: none

Revert to black v24.10.0, ruff v1.15.20, mypy v1.16.1
  .pre-commit-config.yaml
Due: none

Fix online cellosaurus doctest
  Bio/ExPASy/cellosaurus.py
Due: none

fix(SeqUtils): widen the pi() bisection bracket for strongly acidic or basic sequences
  Bio/SeqUtils/IsoelectricPoint.py
  Tests/test_SeqUtils.py
Due: none

fix(PDB): return NaN for the dihedral of collinear points instead of a wrong angle
  Bio/PDB/vectors.py
  Tests/test_PDB_vectors.py
Due: none

Accept CLUSTALW as a Clustal header word
  Bio/Align/clustal.py
  Bio/AlignIO/ClustalIO.py
  CONTRIB.rst
  NEWS.rst
  Tests/test_AlignIO_ClustalIO.py
  Tests/test_Align_clustal.py
Due: doi-link-style, contrib-sort

Fix d105 docstrings (#5338)
  Bio/phenotype/phen_micro.py
Due: none

Apply import sorting via ruff.
  Bio/Align/__init__.py
  Bio/Align/substitution_matrices/__init__.py
  Bio/AlignIO/NexusIO.py
  Bio/Blast/NCBIXML.py
  Bio/Blast/_parser.py
  Bio/PDB/Atom.py
  Bio/PDB/PDBIO.py
  Bio/PDB/PSEA.py
  Bio/PDB/StructureAlignment.py
  Bio/PDB/alphafold_db.py
  Bio/SearchIO/InfernalIO/__init__.py
  Bio/SearchIO/InfernalIO/infernal_tab.py
  Bio/Seq.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/GfaIO.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqIO/TabIO.py
  Bio/SeqIO/UniprotIO.py
  Bio/SeqIO/__init__.py
  Bio/SeqRecord.py
  Bio/_utils.py
  Tests/pairwise2_testCases.py
  Tests/test_Align_codonalign.py
  Tests/test_Align_format_matrix.py
  Tests/test_Align_msf.py
  Tests/test_Align_psl.py
  Tests/test_Align_tabular.py
  Tests/test_Entrez_parser.py
  Tests/test_PDB_StructureAlignment.py
  Tests/test_PDB_vectors.py
  Tests/test_Restriction.py
  Tests/test_SearchIO_infernal_tab.py
  Tests/test_SearchIO_infernal_text.py
  Tests/test_SeqFeature.py
  Tests/test_SeqIO.py
  Tests/test_align.py
  Tests/test_align_substitution_matrices.py
  Tests/test_pairwise_aligner.py
  setup.py
Due: none

ruff FURB136 (if-expr-min-max)
  Bio/AlignIO/MsfIO.py
  Bio/SearchIO/BlatIO.py
  Bio/SeqIO/InsdcIO.py
Due: none

Tell ruff to ignore RUF022 (unsorted-dunder-all)
  .pre-commit-config.yaml
Due: none

ruff PLR1730 (if-stmt-min-max)
  Bio/Align/__init__.py
  Bio/Align/bigbed.py
  Bio/Align/clustal.py
  Bio/Align/substitution_matrices/__init__.py
  Bio/Graphics/Comparative.py
  Bio/Graphics/Distribution.py
  Bio/Graphics/GenomeDiagram/_CircularDrawer.py
  Bio/Graphics/GenomeDiagram/_LinearDrawer.py
  Bio/NMR/xpktools.py
  Bio/Nexus/Trees.py
  Bio/PDB/DSSP.py
  Bio/PDB/mmcifio.py
  Tests/test_Align_mauve.py
Due: none

ruff PLR1716 (boolean-chained-comparison)
  Bio/Graphics/GenomeDiagram/_LinearDrawer.py
  Bio/SearchIO/FastaIO.py
  Bio/Seq.py
Due: none

Tell ruff to ignore RUF023 (unsorted-dunder-slots)
  .pre-commit-config.yaml
Due: none

Tell ruff to ignore our non-PEP8 module names (N999)
  .pre-commit-config.yaml
Due: none

Tell ruff to leave 'unused-noqa' alone (may be used for flake8)
  .pre-commit-config.yaml
Due: none

Fix Seq({}, length=N) creating an empty partially defined sequence
  Bio/Seq.py
  Tests/test_seq.py
Due: none

Fix protein_scale for window 1 and even window sizes
  Bio/SeqUtils/ProtParam.py
  Tests/test_ProtParam.py
Due: none

Add Angus Barlow to NEWS and CONTRIB
  CONTRIB.rst
  NEWS.rst
Due: doi-link-style, contrib-sort

Fix DBLINK continuation lines containing colons
  Bio/GenBank/Scanner.py
  CONTRIB.rst
  NEWS.rst
  Tests/GenBank/dblink_colon_wrap.gb
  Tests/test_GenBank.py
Due: doi-link-style, contrib-sort

Path conditions:
  doi-link-style: any of: \.(rst|tex)$
  contrib-sort: any of: ^CONTRIB\.rst$
