Repository biopython/biopython: changes, and which pre-commit hooks are due for each by the changed paths.
All: doi-link-style, contrib-sort

.pre-commit-config.yaml:

# See CONTRIBUTING.rst, we expect this to be run via a git pre-commit hook.
# You can also run the checks directly at the terminal, e.g.
#
# $ pre-commit run --all-files
#
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-executables-have-shebangs
        files: \.(py|sh)$
    -   id: check-json
    -   id: end-of-file-fixer
        files: \.py$
    -   id: mixed-line-ending
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
    # Run the Ruff linter.
    -   id: ruff
        args: [
            '--fix',
            '--extend-select=B,C4,D,ISC,UP',
            '--extend-ignore=E501,F401,F841,D105,D2,D4',
            '--extend-ignore=B007,B009,B010,B018,B028,B904,UP031',
            '--extend-per-file-ignores=Tests/*.py:D101,Tests/*.py:D102,Tests/*.py:D103',
            '--extend-per-file-ignores=Tests/*.py:B015',
            '--config=lint.isort.force-single-line=true',
            '--config=lint.isort.order-by-type=false',
        ]
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    -   id: black
        args: [--check,--target-version,py39]
-   repo: https://github.com/PyCQA/flake8
    rev: 7.1.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-rst-docstrings>=0.2.3',
        ]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.1
    hooks:
    -   id: mypy
        # equivalent to "files" in .mypy.ini
        files: '^(Bio|BioSQL)/'
-   repo: https://github.com/asottile/blacken-docs
    rev: 1.18.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.2.0]
        exclude: ^.github/
-   repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.0
    hooks:
    -   id: rstcheck
        args: [
            '--ignore-roles=ref,numref,py:mod',
            --ignore-directives=toctree,
            --ignore-substitutions=version,
            --report-level=warning,
            --ignore-messages=Unknown\ target\ name
        ]
-   repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
    -   id: doc8
        additional_dependencies: [pygments]
        args: [
        --quiet,
        --ignore-path=Doc/examples/ec_*.txt,
        '--ignore=D000,D001,D002,D004'
    ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        files: \.(rst|md)$
        args: [
            --ignore-regex,
            '(^|\W)([A-Z]{2,3})(\W|$)',
            -L,
            'ser,hsa,hist,fpr,blosum,ags,manuel,Mian'
        ]
-   repo: local
    hooks:
    -   id: doi-link-style
        name: Enforce https://doi.org/ style
        description: Check DOI link style, see https://www.crossref.org/display-guidelines/
        entry: '(?i)(doi:|dx\.doi\.org|http://doi\.org)'
        language: pygrep
        files: \.(rst|tex)$
    -   id: contrib-sort
        name: Contributor sorting
        description: Confirms alphabetical sorting of the CONTRIB.rst file
        entry: bash -c 'for n in $(seq 0 "$#"); do grep "^- " "${!n}" | LC_ALL=C sort -u -c -f; done'
        #entry: 'grep "^- " CONTRIB.rst | LC_ALL=C sort -u -c -f'
        language: system
        files: ^CONTRIB\.rst$
ci:
    # Settings for the https://pre-commit.ci/ continuous integration service
    autofix_prs: true
    # Default message is more verbose
    autoupdate_commit_msg: '[pre-commit.ci] autoupdate'
    # Default is weekly
    autoupdate_schedule: quarterly
    # Currently pre-commit.ci checks all files, and all hooks takes too long
    # and causes a timeout - so as a short-term workaround, skip flake8 etc:
    skip: [
        check-json,
        mixed-line-ending,
        flake8,
        rstcheck,
        doc8,
        codespell,
        doi-link-style
    ]

Uniprotxml parse ligand tag (#5001)
  Bio/SeqIO/UniprotIO.py
  CONTRIB.rst
  Tests/SwissProt/P62330.xml
  Tests/SwissProt/multiligand.xml
  Tests/test_SeqIO_UniprotIO.py
Due: doi-link-style, contrib-sort

halfway finished
  Bio/Align/_alignmentcounts.c
Due: none

update
  Bio/Align/_pairwisealigner.h
Due: none

update
  Bio/Align/_alignmentcounts.c
  Tests/test_pairwise_aligner.py
Due: none

update
  Bio/Align/_alignmentcounts.c
Due: none

update
  Bio/Align/_alignmentcounts.c
  Bio/Align/substitution_matrices/_arraycore.c
  Bio/Align/substitution_matrices/_arraycore.h
Due: none

update
  Bio/Align/substitution_matrices/_arraycore.c
Due: none

update
  Bio/Align/_pairwisealigner.c
Due: none

types - add a script that tracks the progress of typed API surface
  Scripts/hacked_parse_mypy.py
Due: none

Additional tests for QCPSuperimposer
  Tests/test_PDB_QCPSuperimposer.py
Due: none

Fix early stopping in Newton-Raphson within QCP
  Bio/PDB/qcprot.py
Due: none

Add name to CONTRIB.rst
  CONTRIB.rst
Due: doi-link-style, contrib-sort

Changed hardcoded rms values in CEAligner to correct ones
  Tests/test_PDB_CEAligner.py
Due: none

update
  Bio/Align/_alignmentcounts.c
  Bio/Align/_pairwisealigner.c
  Bio/Align/substitution_matrices/__init__.py
  Bio/Align/substitution_matrices/_arraycore.c
Due: none

fixed citation error
  Doc/Tutorial/chapter_pdb.rst
Due: doi-link-style

added documentation for using 'StructureAlignment' for similar structures
  Doc/Tutorial/chapter_pdb.rst
Due: doi-link-style

pdate
  Bio/Align/_alignmentcounts.c
Due: none
