Repository biopython/biopython: changes, and which pre-commit hooks are due for each by the changed paths.
All: doi-link-style, contrib-sort

.pre-commit-config.yaml:

# See CONTRIBUTING.rst, we expect this to be run via a git pre-commit hook.
# You can also run the checks directly at the terminal, e.g.
#
# $ pre-commit run --all-files
#
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-executables-have-shebangs
        files: \.(py|sh)$
    -   id: check-json
    -   id: end-of-file-fixer
        files: \.py$
    -   id: mixed-line-ending
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
    # Run the Ruff linter.
    -   id: ruff
        args: [
            '--fix',
            '--extend-select=B,C4,D,ISC,UP',
            '--extend-ignore=E501,F401,F841,D105,D2,D4',
            '--extend-ignore=B007,B009,B010,B018,B028,B904,UP031',
            '--extend-per-file-ignores=Tests/*.py:D101,Tests/*.py:D102,Tests/*.py:D103',
            '--extend-per-file-ignores=Tests/*.py:B015',
            '--config=lint.isort.force-single-line=true',
            '--config=lint.isort.order-by-type=false',
        ]
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    -   id: black
        args: [--check,--target-version,py39]
-   repo: https://github.com/PyCQA/flake8
    rev: 7.1.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-rst-docstrings>=0.2.3',
        ]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.1
    hooks:
    -   id: mypy
        # equivalent to "files" in .mypy.ini
        files: '^(Bio|BioSQL)/'
-   repo: https://github.com/asottile/blacken-docs
    rev: 1.18.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.2.0]
        exclude: ^.github/
-   repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.0
    hooks:
    -   id: rstcheck
        args: [
            '--ignore-roles=ref,numref,py:mod',
            --ignore-directives=toctree,
            --ignore-substitutions=version,
            --report-level=warning,
            --ignore-messages=Unknown\ target\ name
        ]
-   repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
    -   id: doc8
        additional_dependencies: [pygments]
        args: [
        --quiet,
        --ignore-path=Doc/examples/ec_*.txt,
        '--ignore=D000,D001,D002,D004'
    ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        files: \.(rst|md)$
        args: [
            --ignore-regex,
            '(^|\W)([A-Z]{2,3})(\W|$)',
            -L,
            'ser,hsa,hist,fpr,blosum,ags,manuel,Mian'
        ]
-   repo: local
    hooks:
    -   id: doi-link-style
        name: Enforce https://doi.org/ style
        description: Check DOI link style, see https://www.crossref.org/display-guidelines/
        entry: '(?i)(doi:|dx\.doi\.org|http://doi\.org)'
        language: pygrep
        files: \.(rst|tex)$
    -   id: contrib-sort
        name: Contributor sorting
        description: Confirms alphabetical sorting of the CONTRIB.rst file
        entry: bash -c 'for n in $(seq 0 "$#"); do grep "^- " "${!n}" | LC_ALL=C sort -u -c -f; done'
        #entry: 'grep "^- " CONTRIB.rst | LC_ALL=C sort -u -c -f'
        language: system
        files: ^CONTRIB\.rst$
ci:
    # Settings for the https://pre-commit.ci/ continuous integration service
    autofix_prs: true
    # Default message is more verbose
    autoupdate_commit_msg: '[pre-commit.ci] autoupdate'
    # Default is weekly
    autoupdate_schedule: quarterly
    # Currently pre-commit.ci checks all files, and all hooks takes too long
    # and causes a timeout - so as a short-term workaround, skip flake8 etc:
    skip: [
        check-json,
        mixed-line-ending,
        flake8,
        rstcheck,
        doc8,
        codespell,
        doi-link-style
    ]

Update news and contributors list.
  CONTRIB.rst
  NEWS.rst
Due: doi-link-style, contrib-sort

Silence PDBConstructionWarning in test_PDB_StructureAlignment
  Tests/test_PDB_StructureAlignment.py
Due: none

Replace print statements with warnings/stderr in NCBIXML
  Bio/Blast/NCBIXML.py
  Tests/test_NCBIXML.py
Due: none

Sort CONTRIB.rst
  CONTRIB.rst
Due: doi-link-style, contrib-sort

Ignore B905
  .flake8
Due: none

Ignore B905 in ruff command line too
  .pre-commit-config.yaml
Due: none

Stay on mypy 1.16.1 and older black
  .pre-commit-config.yaml
Due: none

Replace Union and Optional with Python 3.10+ typing
  Bio/PDB/StructureAlignment.py
  Bio/PDB/internal_coords.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqRecord.py
  BioSQL/BioSeq.py
Due: none

fix: 5137 undefined-symbols
  setup.py
Due: none

chore: added attribution
  CONTRIB.rst
  NEWS.rst
Due: doi-link-style, contrib-sort

fix: Update library linking for Windows compatibility
  setup.py
Due: none

Fix review feedback: remove double spaces and fix black formatting
  Bio/Blast/NCBIXML.py
  Tests/test_NCBIXML.py
Due: none

ruff v0.11.10 format then black 25.9.0
  Bio/Align/AlignInfo.py
  Bio/Align/__init__.py
  Bio/AlignIO/MauveIO.py
  Bio/Blast/_parser.py
  Bio/Cluster/__init__.py
  Bio/Nexus/Trees.py
  Bio/PDB/PDBList.py
  Bio/PDB/internal_coords.py
  Bio/Phylo/NeXMLIO.py
  Bio/SearchIO/InfernalIO/__init__.py
  Bio/SearchIO/InfernalIO/_base.py
  Bio/SeqIO/InsdcIO.py
  Bio/SeqIO/PhdIO.py
  Bio/SeqRecord.py
  Bio/codonalign/__init__.py
  Bio/codonalign/codonalignment.py
  Tests/pairwise2_testCases.py
  Tests/test_AlignIO_ClustalIO.py
  Tests/test_AlignIO_EmbossIO.py
  Tests/test_AlignIO_FastaIO.py
  Tests/test_AlignIO_MauveIO.py
  Tests/test_AlignIO_PhylipIO.py
  Tests/test_AlignIO_convert.py
  Tests/test_Align_format_matrix.py
  Tests/test_Align_msf.py
  Tests/test_File.py
  Tests/test_PDB_SMCRA.py
  Tests/test_PDB_vectors.py
  Tests/test_Phylo_matplotlib.py
  Tests/test_SearchIO_blast_xml.py
  Tests/test_SearchIO_infernal_text_index.py
  Tests/test_SeqIO_QualityIO.py
  Tests/test_SeqIO_features.py
  Tests/test_UniGene.py
  Tests/test_UniProt_GOA.py
Due: none

Replace print statements with warnings/stderr in NCBIXML (#5140)
  Bio/Blast/NCBIXML.py
  Tests/test_NCBIXML.py
Due: none

Use math instead of Numpy for sin/cos, use direct indexing instead of `.item()`.
  Bio/PDB/vectors.py
Due: none

Format Bio/PDB/PSEA.py with black
  Bio/PDB/PSEA.py
Due: none

Run PSEA in a temporary directory to avoid leftover files
  Bio/PDB/PSEA.py
Due: none

Add test for run_psea using a temporary directory
  Tests/test_PDB_PSEA.py
Due: none

remove deprecated code
  Bio/Entrez/__init__.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/UniprotIO.py
  Bio/SeqUtils/ProtParam.py
  Bio/motifs/__init__.py
  Bio/motifs/meme.py
  DEPRECATED.rst
  Tests/test_ProtParam.py
  Tests/test_SeqIO.py
  Tests/test_SeqIO_FastaIO.py
  Tests/test_SeqIO_UniprotIO.py
Due: doi-link-style

fix
  Tests/test_SeqIO_FastaIO.py
  Tests/test_SeqIO_UniprotIO.py
Due: none

fix
  Bio/SeqUtils/ProtParam.py
  DEPRECATED.rst
Due: doi-link-style

black
  Bio/SeqIO/FastaIO.py
  Tests/test_SeqIO_FastaIO.py
Due: none

updae
  Bio/Entrez/__init__.py
  Tests/Entrez/espell.xml
  Tests/test_Entrez_parser.py
Due: none

update
  Bio/Entrez/Parser.py
Due: none

check uniprot-xml raises ValueError for files opened in text mode
  Tests/test_SeqIO_UniprotIO.py
Due: none

black
  Tests/test_SeqIO_UniprotIO.py
Due: none

fix NoneElement
  Bio/Entrez/Parser.py
  Tests/test_Entrez_parser.py
Due: none

black
  Tests/test_Entrez_parser.py
Due: none

update einfo.xml
  Bio/Entrez/DTDs/einfo.dtd
Due: none

update
  Doc/Tutorial/chapter_entrez.rst
  Tests/test_Entrez.py
Due: doi-link-style

Added a new print statement to message.py and created new_file.py
  message.py
  new_file.py
Due: none

Remove code that was deprecated in 1.85 (#5144)
  Bio/Entrez/__init__.py
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/UniprotIO.py
  Bio/SeqUtils/ProtParam.py
  Bio/motifs/__init__.py
  Bio/motifs/meme.py
  DEPRECATED.rst
  Tests/test_ProtParam.py
  Tests/test_SeqIO.py
  Tests/test_SeqIO_FastaIO.py
  Tests/test_SeqIO_UniprotIO.py
Due: doi-link-style

Bio/Entrez/Parser.py: Do not stop checking URLs after first success
  Bio/Entrez/Parser.py
Due: none

Bio/Entrez/Parser.py: Rename flag .secure to .bypass_url_security
  Bio/Entrez/Parser.py
Due: none
