Repository biopython/biopython: changes, and which pre-commit hooks are due for each by the changed paths.
All: doi-link-style, contrib-sort

.pre-commit-config.yaml:

# See CONTRIBUTING.rst, we expect this to be run via a git pre-commit hook.
# You can also run the checks directly at the terminal, e.g.
#
# $ pre-commit run --all-files
#
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-executables-have-shebangs
        files: \.(py|sh)$
    -   id: check-json
    -   id: end-of-file-fixer
        files: \.py$
    -   id: mixed-line-ending
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
    # Run the Ruff linter.
    -   id: ruff
        args: [
            '--fix',
            '--extend-select=B,C4,D,ISC,UP',
            '--extend-ignore=E501,F401,F841,D105,D2,D4',
            '--extend-ignore=B007,B009,B010,B018,B028,B904,UP031',
            '--extend-per-file-ignores=Tests/*.py:D101,Tests/*.py:D102,Tests/*.py:D103',
            '--extend-per-file-ignores=Tests/*.py:B015',
            '--config=lint.isort.force-single-line=true',
            '--config=lint.isort.order-by-type=false',
        ]
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    -   id: black
        args: [--check,--target-version,py39]
-   repo: https://github.com/PyCQA/flake8
    rev: 7.1.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-rst-docstrings>=0.2.3',
        ]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.1
    hooks:
    -   id: mypy
        # equivalent to "files" in .mypy.ini
        files: '^(Bio|BioSQL)/'
-   repo: https://github.com/asottile/blacken-docs
    rev: 1.18.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.2.0]
        exclude: ^.github/
-   repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.0
    hooks:
    -   id: rstcheck
        args: [
            '--ignore-roles=ref,numref,py:mod',
            --ignore-directives=toctree,
            --ignore-substitutions=version,
            --report-level=warning,
            --ignore-messages=Unknown\ target\ name
        ]
-   repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
    -   id: doc8
        additional_dependencies: [pygments]
        args: [
        --quiet,
        --ignore-path=Doc/examples/ec_*.txt,
        '--ignore=D000,D001,D002,D004'
    ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        files: \.(rst|md)$
        args: [
            --ignore-regex,
            '(^|\W)([A-Z]{2,3})(\W|$)',
            -L,
            'ser,hsa,hist,fpr,blosum,ags,manuel,Mian'
        ]
-   repo: local
    hooks:
    -   id: doi-link-style
        name: Enforce https://doi.org/ style
        description: Check DOI link style, see https://www.crossref.org/display-guidelines/
        entry: '(?i)(doi:|dx\.doi\.org|http://doi\.org)'
        language: pygrep
        files: \.(rst|tex)$
    -   id: contrib-sort
        name: Contributor sorting
        description: Confirms alphabetical sorting of the CONTRIB.rst file
        entry: bash -c 'for n in $(seq 0 "$#"); do grep "^- " "${!n}" | LC_ALL=C sort -u -c -f; done'
        #entry: 'grep "^- " CONTRIB.rst | LC_ALL=C sort -u -c -f'
        language: system
        files: ^CONTRIB\.rst$
ci:
    # Settings for the https://pre-commit.ci/ continuous integration service
    autofix_prs: true
    # Default message is more verbose
    autoupdate_commit_msg: '[pre-commit.ci] autoupdate'
    # Default is weekly
    autoupdate_schedule: quarterly
    # Currently pre-commit.ci checks all files, and all hooks takes too long
    # and causes a timeout - so as a short-term workaround, skip flake8 etc:
    skip: [
        check-json,
        mixed-line-ending,
        flake8,
        rstcheck,
        doc8,
        codespell,
        doi-link-style
    ]

Upgrade pip before setuptools and wheel.
  .github/workflows/ci.yml
Due: none

Upgrade pip before setuptools and wheel here too
  .github/workflows/ci.yml
Due: none

Upgrade pip before setuptools etc everywhere
  .github/workflows/ci.yml
Due: none

Try with pip 26.2.0 (before get_runnable_pip was added)
  .github/workflows/ci.yml
Due: none

Post Biopython 1.88 release version bump
  Bio/__init__.py
  NEWS.rst
Due: doi-link-style

Add my name to CONTRIB.rst and NEWS.rst
  CONTRIB.rst
  NEWS.rst
Due: doi-link-style, contrib-sort

np.isclose() returns array, np.allclose() returns boolean
  Bio/PDB/Atom.py
Due: none

Refactor Atom comparison to allow for None as bfactor or occupancy
  Bio/PDB/Atom.py
Due: none

Fix comparison of atom's element/pqr_charge/radius
  Bio/PDB/Atom.py
Due: none

Test atom string comparison with occupancy etc
  Tests/test_PDB_SMCRA.py
Due: none

Handle empty QUAL title line without raising IndexError
  Bio/SeqIO/QualityIO.py
  Tests/test_SeqIO_QualityIO.py
Due: none

refactor: reduzindo a complexidade de bigmaf.py, em sua classe CreateAlignment
  Bio/Align/bigmaf.py
Due: none

test: aaaaaaa
  Bio/Align/bigpsl.py
Due: none

Human written test case
  Tests/test_SeqIO_QualityIO.py
Due: none

Fix my human error
  Tests/test_SeqIO_QualityIO.py
Due: none

add_example
  Bio/codonalign/__init__.py
Due: none

DOCS: fix stale param name in Bio.Entrez._open docstring
  Bio/Entrez/__init__.py
Due: none

Add Rohit Kattimani to contributors list
  CONTRIB.rst
Due: doi-link-style, contrib-sort

Fixed alphabetical ordering of name addition
  CONTRIB.rst
Due: doi-link-style, contrib-sort

Add an example to Bio.codonalign docstring using the newer CodonAligner in Bio.Align (#5285)
  Bio/codonalign/__init__.py
Due: none

initialize the origin of the scoring matrix to 0
  Bio/pairwise2.py
  Tests/pairwise2_testCases.py
Due: none

change the gap score value such that the test outcome is consistent with the original intent of the test
  Tests/pairwise2_testCases.py
Due: none

update the PairwiseAligner tests to be consistent with the pairwise2 tests
  Tests/test_pairwise_aligner.py
Due: none

pairwise2 bugfix (#5289)
  Bio/pairwise2.py
  Tests/pairwise2_testCases.py
  Tests/test_pairwise_aligner.py
Due: none

Add PairwiseAligner tests to pairwise2 tests
  Bio/Align/__init__.py
  Tests/pairwise2_testCases.py
Due: none

_create_aligner
  Bio/Align/__init__.py
  Tests/pairwise2_testCases.py
Due: none

Remove long deprecated Bio.pairwise2 code.
  Bio/cpairwise2module.c
  Bio/pairwise2.py
  DEPRECATED.rst
  Doc/Tutorial/chapter_pairwise.rst
  Doc/Tutorial/chapter_pairwise2.rst
  Doc/Tutorial/index.rst
  Tests/test_pairwise2.py
  Tests/test_pairwise2_no_C.py
  pyproject.toml
Due: doi-link-style

Handle empty QUAL title line without raising IndexError (#5283)
  Bio/SeqIO/QualityIO.py
  Tests/test_SeqIO_QualityIO.py
Due: none

Deprecate NCBIXML letter attributes
  Bio/Blast/NCBIXML.py
  Tests/test_NCBIXML.py
Due: none

Return NotImplemented for unsupported Seq comparison types
  Bio/Seq.py
  Tests/test_seq.py
Due: none

Add AlphaFoldList class-based wrapper interface for PDBList parity
  Bio/PDB/alphafold_db.py
Due: none

Add Windows ARM64 build
  .github/workflows/ci.yml
Due: none

Fix parsing in test to be line ending-agnostic
  Bio/SearchIO/InfernalIO/infernal_text.py
  CONTRIB.rst
Due: doi-link-style, contrib-sort

Add regression tests for PrintedAlignmentParser.feed()
  Tests/test_Align_printed_alignment.py
Due: none

Check offset and row length in PrintedAlignmentParser.feed()
  Bio/Align/_aligncore.c
Due: none

Add contributor name to CONTRIB.rst
  CONTRIB.rst
Due: doi-link-style, contrib-sort

Add Windows ARM64 support to NEWS [skip ci]
  NEWS.rst
Due: doi-link-style
