Repository biopython/biopython: changes, and which pre-commit hooks are due for each by the changed paths.
All: doi-link-style, contrib-sort

doi-link-style:
  name: Enforce https://doi.org/ style
  description: Check DOI link style, see https://www.crossref.org/display-guidelines/
  entry: (?i)(doi:|dx\.doi\.org|http://doi\.org)
  language: pygrep

contrib-sort:
  name: Contributor sorting
  description: Confirms alphabetical sorting of the CONTRIB.rst file
  entry: bash -c 'for n in $(seq 0 "$#"); do grep "^- " "${!n}" | LC_ALL=C sort -u -c -f; done'
  language: system

docs: document new `scoring` argument in Alignment.format tutorial
  Doc/Tutorial/chapter_align.rst
Due: doi-link-style

Use PyMem_Malloc instead of malloc as requested
  Bio/SeqUtils/_meltingtemp_exact.c
Due: none

Update _meltingtemp_exact.c
  Bio/SeqUtils/_meltingtemp_exact.c
Due: none

Fixes formatting for extremely high B-factor values in PDB files (#5047)
  Bio/PDB/PDBExceptions.py
  Bio/PDB/PDBIO.py
  CONTRIB.rst
  NEWS.rst
  Tests/test_PDB_PDBIO.py
Due: doi-link-style, contrib-sort

docs: add cont-doctest and update scoring example with '.' mismatch
  Doc/Tutorial/chapter_align.rst
Due: doi-link-style

docs: fix scoring example with gap penalties to show ':' and '.' in doctest
  Doc/Tutorial/chapter_align.rst
Due: doi-link-style

docs: add <BLANKLINE> to doctest output in scoring example
  Doc/Tutorial/chapter_align.rst
Due: doi-link-style

doc: add 8 in the middle line of the format
  Doc/Tutorial/chapter_align.rst
Due: doi-link-style

doc: Arranging the print format
  Doc/Tutorial/chapter_align.rst
Due: doi-link-style

Rearrange the print format
  Doc/Tutorial/chapter_align.rst
Due: doi-link-style

Align: add substitution matrix support to Alignment.format() (#5049)
  Bio/Align/__init__.py
  CONTRIB.rst
  Doc/Tutorial/chapter_align.rst
  NEWS.rst
  Tests/test_format_matrix_unittest.py
Due: doi-link-style, contrib-sort

documentation tweaks
  Doc/Tutorial/chapter_align.rst
  Tests/test_Align_format_matrix.py
Due: doi-link-style

update
  Doc/Tutorial/chapter_align.rst
Due: doi-link-style

documentation tweaks (#5055)
  Doc/Tutorial/chapter_align.rst
  Tests/test_Align_format_matrix.py
Due: doi-link-style

remove stray comments
  Tests/test_pairwise_alignment_map.py
Due: none

added type annotations to most common oublic methods for Bio/Align, AlignIO, Graphics, HMM, KEGG, and PDB
  Bio/Align/AlignInfo.py
  Bio/Align/__init__.py
  Bio/AlignIO/MafIO.py
  Bio/Graphics/ColorSpiral.py
  Bio/Graphics/DisplayRepresentation.py
  Bio/HMM/MarkovModel.py
  Bio/KEGG/KGML/KGML_pathway.py
  Bio/PDB/Atom.py
  Bio/PDB/Chain.py
  Bio/PDB/Entity.py
  Bio/PDB/FragmentMapper.py
  Bio/PDB/MMCIFParser.py
  Bio/PDB/Model.py
  Bio/PDB/PDBParser.py
  Bio/PDB/PSEA.py
  Bio/PDB/Polypeptide.py
  Bio/PDB/Residue.py
  Bio/PDB/Structure.py
  Bio/PDB/StructureAlignment.py
  Bio/PDB/StructureBuilder.py
  Bio/PDB/cealign.py
  Bio/PDB/mmtf/__init__.py
  Bio/PDB/qcprot.py
  Bio/PDB/vectors.py
  Bio/SeqIO/PdbIO.py
Due: none

fixed type checking errors
  Bio/Graphics/DisplayRepresentation.py
  Bio/PDB/Atom.py
  Bio/PDB/Chain.py
  Bio/PDB/Entity.py
  Bio/PDB/MMCIFParser.py
  Bio/PDB/Model.py
  Bio/PDB/PDBParser.py
  Bio/PDB/Polypeptide.py
  Bio/PDB/Residue.py
  Bio/PDB/Structure.py
  Bio/PDB/cealign.py
Due: none

test_BWA_tool.py: update to bwa 0.7.19 header.
  Tests/test_BWA_tool.py
Due: none

Finish the docs paragraph
  Doc/Tutorial/chapter_phylo.rst
  Doc/images/phylo-color-iplotx.png
Due: doi-link-style

Docs parser does not recognise multiline code properly, use single line
  Doc/Tutorial/chapter_phylo.rst
Due: doi-link-style

Delete Tests/BWA/ test data.
  Tests/BWA/HNSCC1_1_truncated.fastq
  Tests/BWA/HNSCC1_2_truncated.fastq
  Tests/BWA/human_g1k_v37_truncated.fasta
Due: none

Remove unnecessary global statements
  Bio/PDB/vectors.py
  CONTRIB.rst
Due: doi-link-style, contrib-sort

Add note about global variables
  Bio/PDB/vectors.py
Due: none

Remove debug print
  Bio/PDB/vectors.py
Due: none

Update vectors.py (remove global statements)
  Bio/PDB/vectors.py
Due: none

Aligner default arguments (#5029)
  Bio/Align/__init__.py
  Bio/Align/_alignmentcounts.c
  Bio/Align/_codonaligner.c
  Bio/Align/_pairwisealigner.c
  Bio/Align/_pairwisealigner.h
  Bio/Align/substitution_matrices/_arraycore.c
  DEPRECATED.rst
  Doc/Tutorial/chapter_pairwise.rst
  NEWS.rst
  Tests/test_pairwise_aligner.py
Due: doi-link-style

removing deprecated code
  Bio/Align/__init__.py
  Bio/HMM/DynamicProgramming.py
  Bio/HMM/MarkovModel.py
  Bio/HMM/Trainer.py
  Bio/HMM/Utilities.py
  Bio/SCOP/__init__.py
  Bio/motifs/__init__.py
Due: none

updating the DEPRECATED.rst file
  DEPRECATED.rst
Due: doi-link-style

removing tests for removed modules
  Tests/test_HMMCasino.py
  Tests/test_HMMGeneral.py
Due: none

deprecating the SummaryInfo class in Bio.Align.AlignInfo
  Bio/Align/AlignInfo.py
  DEPRECATED.rst
  Tests/test_align.py
Due: doi-link-style

black
  Bio/Align/AlignInfo.py
Due: none

Add support for terminal_columns in Alignment formatting, issue 5035
  Bio/Align/__init__.py
  Tests/test_Align_Alignment_format.py
Due: none

Update test_Align_Alignment_format.py
  Tests/test_Align_Alignment_format.py
Due: none

imporve Tests/test_Align_Alignment_format.py
  Tests/test_Align_Alignment_format.py
Due: none

Fix F824 in Bio.PDB.vectors (#5067)
  Bio/PDB/vectors.py
  CONTRIB.rst
Due: doi-link-style, contrib-sort

deprecating the SummaryInfo class in Bio.Align.AlignInfo (#5069)
  Bio/Align/AlignInfo.py
  DEPRECATED.rst
  Tests/test_align.py
Due: doi-link-style

Path conditions:
  doi-link-style: any of: \.(rst|tex)$
  contrib-sort: any of: ^CONTRIB\.rst$
