Repository biopython/biopython: changes, and which pre-commit hooks are due for each by the changed paths.
All: doi-link-style, contrib-sort

.pre-commit-config.yaml:

# See CONTRIBUTING.rst, we expect this to be run via a git pre-commit hook.
# You can also run the checks directly at the terminal, e.g.
#
# $ pre-commit run --all-files
#
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-executables-have-shebangs
        files: \.(py|sh)$
    -   id: check-json
    -   id: end-of-file-fixer
        files: \.py$
    -   id: mixed-line-ending
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
    # Run the Ruff linter.
    -   id: ruff
        args: [
            '--fix',
            '--extend-select=B,C4,D,ISC,UP',
            '--extend-ignore=E501,F401,F841,D105,D2,D4',
            '--extend-ignore=B007,B009,B010,B018,B028,B904,UP031',
            '--extend-per-file-ignores=Tests/*.py:D101,Tests/*.py:D102,Tests/*.py:D103',
            '--extend-per-file-ignores=Tests/*.py:B015',
            '--config=lint.isort.force-single-line=true',
            '--config=lint.isort.order-by-type=false',
        ]
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    -   id: black
        args: [--check,--target-version,py39]
-   repo: https://github.com/PyCQA/flake8
    rev: 7.1.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-rst-docstrings>=0.2.3',
        ]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.1
    hooks:
    -   id: mypy
        # equivalent to "files" in .mypy.ini
        files: '^(Bio|BioSQL)/'
-   repo: https://github.com/asottile/blacken-docs
    rev: 1.18.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.2.0]
        exclude: ^.github/
-   repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.0
    hooks:
    -   id: rstcheck
        args: [
            '--ignore-roles=ref,numref,py:mod',
            --ignore-directives=toctree,
            --ignore-substitutions=version,
            --report-level=warning,
            --ignore-messages=Unknown\ target\ name
        ]
-   repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
    -   id: doc8
        additional_dependencies: [pygments]
        args: [
        --quiet,
        --ignore-path=Doc/examples/ec_*.txt,
        '--ignore=D000,D001,D002,D004'
    ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        files: \.(rst|md)$
        args: [
            --ignore-regex,
            '(^|\W)([A-Z]{2,3})(\W|$)',
            -L,
            'ser,hsa,hist,fpr,blosum,ags,manuel,Mian'
        ]
-   repo: local
    hooks:
    -   id: doi-link-style
        name: Enforce https://doi.org/ style
        description: Check DOI link style, see https://www.crossref.org/display-guidelines/
        entry: '(?i)(doi:|dx\.doi\.org|http://doi\.org)'
        language: pygrep
        files: \.(rst|tex)$
    -   id: contrib-sort
        name: Contributor sorting
        description: Confirms alphabetical sorting of the CONTRIB.rst file
        entry: bash -c 'for n in $(seq 0 "$#"); do grep "^- " "${!n}" | LC_ALL=C sort -u -c -f; done'
        #entry: 'grep "^- " CONTRIB.rst | LC_ALL=C sort -u -c -f'
        language: system
        files: ^CONTRIB\.rst$
ci:
    # Settings for the https://pre-commit.ci/ continuous integration service
    autofix_prs: true
    # Default message is more verbose
    autoupdate_commit_msg: '[pre-commit.ci] autoupdate'
    # Default is weekly
    autoupdate_schedule: quarterly
    # Currently pre-commit.ci checks all files, and all hooks takes too long
    # and causes a timeout - so as a short-term workaround, skip flake8 etc:
    skip: [
        check-json,
        mixed-line-ending,
        flake8,
        rstcheck,
        doc8,
        codespell,
        doi-link-style
    ]

chore: add type annotation to Bio/File.py
  Bio/File.py
Due: none

remove unused imports
  Bio/Align/__init__.py
Due: none

From pairwise alignments (#5051)
  .pre-commit-config.yaml
  Bio/Align/__init__.py
  CONTRIB.rst
  Doc/Tutorial/chapter_align.rst
  NEWS.rst
  Tests/test_align.py
Due: doi-link-style, contrib-sort

doc: Fix typo `Thie` -> `This` in fasta warning
  Bio/SeqIO/FastaIO.py
Due: none

silence test_GenBank.py invalid date warnings in test suite
  Tests/test_GenBank.py
Due: none

Add Mike Philippakis to contributor list
  CONTRIB.rst
Due: doi-link-style, contrib-sort

Fix trailing whitespace with black
  Tests/test_GenBank.py
Due: none

Fix issues that prevented black
  Tests/test_GenBank.py
Due: none

Silence PDB warnings in tests (add fix name mix-up)
  Tests/test_PDB_PDBIO.py
Due: none

Update license metadata as per Core Metadata specification v2.4 (August 2024)
  setup.py
Due: none

Call this Biopython 1.86
  Bio/__init__.py
  NEWS.rst
Due: doi-link-style

Post-release version bump
  Bio/__init__.py
  NEWS.rst
Due: doi-link-style

Revert "Post-release version bump"
  Bio/__init__.py
  NEWS.rst
Due: doi-link-style

Revert to old license metadata
  setup.py
Due: none

Fully revert to old license metadata
  setup.py
Due: none

Remove unused import
  Bio/SCOP/__init__.py
Due: none

Remove unused import (#5093)
  Bio/SCOP/__init__.py
Due: none

Remove unused imports in test_AlignIO.py
  Tests/test_AlignIO.py
Due: none

Update HTML tutorial link (old one worked via a redirect)
  Bio/AlignIO/__init__.py
  Bio/Entrez/__init__.py
  Bio/Seq.py
  Bio/SeqIO/__init__.py
Due: none

Update FAQ on latest version of the docs
  Doc/Tutorial/chapter_introduction.rst
Due: doi-link-style

Remove reference to PDF Tutorial
  Bio/AlignIO/__init__.py
  Bio/Entrez/__init__.py
  Bio/Seq.py
  Bio/SeqIO/__init__.py
Due: none

chore: add type annotation to Bio/File.py
  Bio/File.py
  Bio/SeqIO/Interfaces.py
Due: none

Improve type annotation
  Bio/Seq.py
Due: none

Bump year in license (overdue)
  LICENSE.rst
Due: doi-link-style

add helper function to check for valid XML; adjust element paths to include new scanprosite_response wrapper element
  Bio/ExPASy/ScanProsite.py
Due: none

add name to contributers list
  CONTRIB.rst
Due: doi-link-style, contrib-sort

remove whitespace; add docstring
  Bio/ExPASy/ScanProsite.py
Due: none

misunderstood how this was working I think; have replaced the root element with the new root element in the ScanProsite API response and removed XML validator
  Bio/ExPASy/ScanProsite.py
Due: none

put the expasy url in a constant so it can be referenced by the tests
  Bio/ExPASy/ScanProsite.py
Due: none
