Repository biopython/biopython: changes, and which pre-commit hooks are due for each by the changed paths.
All: doi-link-style, contrib-sort

doi-link-style:
  name: Enforce https://doi.org/ style
  description: Check DOI link style, see https://www.crossref.org/display-guidelines/
  entry: (?i)(doi:|dx\.doi\.org|http://doi\.org)
  language: pygrep

contrib-sort:
  name: Contributor sorting
  description: Confirms alphabetical sorting of the CONTRIB.rst file
  entry: bash -c 'for n in $(seq 0 "$#"); do grep "^- " "${!n}" | LC_ALL=C sort -u -c -f; done'
  language: system

format with black
  Bio/PDB/PDBList.py
Due: none

add tests for bad url and http error
  Tests/test_PDB_PDBList.py
Due: none

update
  Bio/Align/_pairwisealigner.c
Due: none

change url in test
  Tests/test_PDB_PDBList.py
Due: none

remove urlerror and httperror
  Bio/PDB/PDBList.py
Due: none

improve coverage of tests
  Bio/PDB/PDBList.py
  Tests/test_PDB_PDBList.py
Due: none

linting
  Bio/PDB/PDBList.py
Due: none

enable handling of <ligand> tags in UniProt XML files
  Bio/SeqIO/UniprotIO.py
Due: none

test parsing of <ligand> in UniProt XML
  Tests/SwissProt/P62330.xml
  Tests/test_SeqIO_UniprotIO.py
Due: none

add name to CONTRIB.rst
  CONTRIB.rst
Due: doi-link-style, contrib-sort

format with black to fix CI
  Tests/test_SeqIO_UniprotIO.py
Due: none

enable capture of multiple ligands from uniprot xml file. update tests accordingly
  Bio/SeqIO/UniprotIO.py
  Tests/test_SeqIO_UniprotIO.py
Due: none

update
  Bio/Align/__init__.py
  Bio/Align/_pairwisealigner.c
  Tests/test_pairwise_aligner.py
Due: none

update
  Bio/Align/__init__.py
  Doc/Tutorial/chapter_align.rst
  Tests/test_Align_Alignment.py
Due: doi-link-style

update
  Bio/Align/__init__.py
  Bio/Align/_pairwisealigner.c
  setup.py
Due: none

Remove unused f-string
  Bio/PDB/PDBList.py
Due: none

compliance with contrib guide
  CONTRIB.rst
Due: doi-link-style, contrib-sort

if error is caught should return None instead of final_file
  Bio/PDB/PDBList.py
Due: none

fixed PDBlist.retrieve_pdb_file(); improved error handling, should not show misleading message
  Bio/PDB/PDBList.py
Due: none

update
  Bio/Align/_alignmentcounts.c
Due: none

update
  Bio/Align/_alignmentcounts.c
  Bio/Align/_pairwisealigner.c
Due: none

add mock UniProt XML file with multiple ligand tags per feature
  Tests/SwissProt/multiligand.xml
Due: none

test for correct len of all ligands list and multiple ligands per feature
  Tests/test_SeqIO_UniprotIO.py
Due: none

moved current superimposing docs to a new section
  Doc/Tutorial/chapter_pdb.rst
Due: doi-link-style

added cealign documentation plus reference from docstring
  Doc/Tutorial/chapter_bibliography.rst
  Doc/Tutorial/chapter_pdb.rst
Due: doi-link-style

update
  Bio/Align/__init__.py
  Bio/Align/_alignmentcounts.c
Due: none

apperently i dont know what alphabetical order is
  Doc/Tutorial/chapter_bibliography.rst
Due: doi-link-style

added QCPSupeimposer documentation and citation
  Doc/Tutorial/chapter_bibliography.rst
  Doc/Tutorial/chapter_pdb.rst
Due: doi-link-style

added my name to CONTRIB.rst
  CONTRIB.rst
Due: doi-link-style, contrib-sort

Path conditions:
  doi-link-style: any of: \.(rst|tex)$
  contrib-sort: any of: ^CONTRIB\.rst$
