Repository biopython/biopython: changes, and which pre-commit hooks are due for each by the changed paths.
All: doi-link-style, contrib-sort

doi-link-style:
  name: Enforce https://doi.org/ style
  description: Check DOI link style, see https://www.crossref.org/display-guidelines/
  entry: (?i)(doi:|dx\.doi\.org|http://doi\.org)
  language: pygrep

contrib-sort:
  name: Contributor sorting
  description: Confirms alphabetical sorting of the CONTRIB.rst file
  entry: bash -c 'for n in $(seq 0 "$#"); do grep "^- " "${!n}" | LC_ALL=C sort -u -c -f; done'
  language: system

Support minimal MEME files without `Background letter frequencies` line.
  Bio/motifs/minimal.py
  Tests/motifs/minimal_test_no_background.meme
  Tests/test_motifs.py
Due: none

ENH: Add FastaHeaderParser for header-only FASTA iteration
  Bio/SeqIO/FastaIO.py
  Tests/test_header_parser_benchmark.py
Due: none

ENH: Resolve partial-gap codons via IUPAC tables in translate()
  Bio/Seq.py
  CONTRIB.rst
  Tests/test_translate.py
Due: doi-link-style, contrib-sort

Remove incorrect CodonAligner gap tests
  Tests/test_translate.py
Due: none

Add 18 pKa scales for isoelectric point calculation
  Bio/SeqUtils/IsoelectricPoint.py
  Bio/SeqUtils/ProtParam.py
  CONTRIB.rst
  NEWS.rst
  Tests/test_IsoelectricPoint.py
Due: doi-link-style, contrib-sort

Draw trees in vertical, horizontal and circular orientations
  Bio/Phylo/_utils.py
  CONTRIB.rst
  Doc/Tutorial/chapter_phylo.rst
  Doc/examples/phylo_draw_orientations.py
  Doc/images/phylo-draw-orientations.png
  NEWS.rst
  Tests/test_Phylo_draw_orientations.py
Due: doi-link-style, contrib-sort

Add fasta-ncbi format for NCBI FASTA header dbxref parsing
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/__init__.py
  NEWS.rst
  Tests/Fasta/ncbi_headers.fasta
  Tests/test_FastaNcbiParser.py
Due: doi-link-style

Fix test_the_translation_of_invalid_codons for partial-gap resolution
  Tests/test_Seq_objs.py
  Tests/test_translate.py
Due: none

ENH: Add high-performance HeaderParsers to sequential format IO modules
  Bio/SeqIO/FastaIO.py
  Bio/SeqIO/IgIO.py
  Bio/SeqIO/PirIO.py
  Bio/SeqIO/QualityIO.py
  CONTRIB.rst
  Tests/test_SeqIO_IgIO.py
  Tests/test_SeqIO_PirIO.py
  Tests/test_SeqIO_QualityIO.py
  Tests/test_header_parser_benchmark.py
Due: doi-link-style, contrib-sort

PERF: Optimise SequentialSeqFileRandomAccess index construction
  Bio/SeqIO/_index.py
  Tests/test_index_benchmark.py
Due: none

FIX: Address IgIO test mock data and QualityIO FastqHeaderParser validation
  Bio/SeqIO/QualityIO.py
  Tests/test_SeqIO_IgIO.py
  Tests/test_SeqIO_QualityIO.py
Due: none

STYLE: Apply black 24.10.0 formatting to IgIO test
  Tests/test_SeqIO_IgIO.py
Due: none

MAINT: Enforce black 24.10.0 via pyproject.toml to prevent local formatting regressions
  pyproject.toml
Due: none

Add docstrings to FastaIO iterator __next__ methods
  Bio/SeqIO/FastaIO.py
Due: none

Warn instead of error for invalid strand type in LOCUS line (issue #4846)
  Bio/GenBank/Scanner.py
  Tests/test_GenBank_locus_spacing.py
Due: none

Replace assert with explicit if/raise in production code
  Bio/ExPASy/Enzyme.py
  Bio/ExPASy/ScanProsite.py
  Bio/SeqIO/TabIO.py
  Bio/motifs/alignace.py
Due: none

Address review feedback from peterjc
  Bio/ExPASy/Enzyme.py
  Bio/SeqIO/TabIO.py
Due: none

Add docstrings to SeqIO iterator __next__ methods
  Bio/SeqIO/AceIO.py
  Bio/SeqIO/PdbIO.py
  Bio/SeqIO/PhdIO.py
  Bio/SeqIO/SwissIO.py
  Bio/SeqIO/TabIO.py
Due: none

Add assertRaises tests for the new ValueError paths
  Tests/test_Enzyme.py
  Tests/test_ExPASy_offline.py
  Tests/test_SeqIO_TabIO.py
  Tests/test_motifs.py
Due: none

Fix D301: raw docstring for TabIO test with backslashes
  Tests/test_SeqIO_TabIO.py
Due: none

Simplify LOCUS line fallback per review
  Bio/GenBank/Scanner.py
  Tests/test_GenBank_locus_spacing.py
Due: none

fix: parse GenBank variation insert locations
  Bio/SeqFeature.py
  Tests/test_GenBank.py
Due: none

docs: explain how to modify feature locations
  Doc/Tutorial/chapter_seq_annot.rst
Due: doi-link-style

docs: explain Entrez timeout behavior
  Bio/Entrez/__init__.py
  Doc/Tutorial/chapter_entrez.rst
Due: doi-link-style

docs: add missing SeqIO iterator docstrings
  Bio/SeqIO/Interfaces.py
Due: none

Address review feedback on PDBList CLI
  Bio/PDB/PDBList.py
Due: none

Update docstrings to refer to the function being described
  Bio/Seq.py
Due: none

Tests: add tests for six_frame_translations and nt_search
  Tests/test_SeqUtils.py
Due: none

Fix PDBList multi-server path support (EBI/PDBj/RCSB mirrors)
  Bio/PDB/PDBList.py
Due: none

Fix degenerate consensus for fully ambiguous columns
  Bio/motifs/matrix.py
  Tests/test_motifs.py
Due: none

SeqUtils: Improve GC123 robustness and modernize SearchIO repr
  Bio/SearchIO/_model/query.py
  Bio/SeqUtils/__init__.py
  Tests/test_SeqUtils.py
Due: none

Add SuperRaccoon's implementation for kinematics
  Bio/Kinetics/Arrhenius.py
  Bio/Kinetics/__init__.py
  CONTRIB.rst
  NEWS.rst
  Tests/test_Kinetics.py
Due: doi-link-style, contrib-sort

Add module to pyproject.toml
  pyproject.toml
Due: none

Remove scipy because it is overkill
  Bio/Kinetics/Arrhenius.py
Due: none

Add docstrings to remaining SeqIO iterator __next__ methods
  Bio/SeqIO/GckIO.py
  Bio/SeqIO/GfaIO.py
  Bio/SeqIO/SffIO.py
  Bio/SeqIO/SnapGeneIO.py
  Bio/SeqIO/UniprotIO.py
  Bio/SeqIO/XdnaIO.py
  Bio/SeqIO/__init__.py
Due: none

Add Laura Piñero Roig to CONTRIB.rst and NEWS.rst
  CONTRIB.rst
  NEWS.rst
Due: doi-link-style, contrib-sort

Fix remaining flake8-docstrings D400, D401 and D402 issues.
  Bio/Align/AlignInfo.py
  Bio/PDB/PDBIO.py
  Bio/SearchIO/InfernalIO/infernal_tab.py
  Bio/SeqIO/Interfaces.py
  Bio/SeqIO/QualityIO.py
  Bio/SeqRecord.py
Due: none

Path conditions:
  doi-link-style: any of: \.(rst|tex)$
  contrib-sort: any of: ^CONTRIB\.rst$
