Repository biopython/biopython: changes, and which pre-commit hooks are due for each by the changed paths.
All: doi-link-style, contrib-sort

.pre-commit-config.yaml:

# See CONTRIBUTING.rst, we expect this to be run via a git pre-commit hook.
# You can also run the checks directly at the terminal, e.g.
#
# $ pre-commit run --all-files
#
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-executables-have-shebangs
        files: \.(py|sh)$
    -   id: check-json
    -   id: end-of-file-fixer
        files: \.py$
    -   id: mixed-line-ending
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
    # Run the Ruff linter.
    -   id: ruff
        args: [
            '--fix',
            '--extend-select=B,C4,D,ISC,UP',
            '--extend-ignore=E501,F401,F841,D105,D2,D4',
            '--extend-ignore=B007,B009,B010,B018,B028,B904,UP031',
            '--extend-per-file-ignores=Tests/*.py:D101,Tests/*.py:D102,Tests/*.py:D103',
            '--extend-per-file-ignores=Tests/*.py:B015',
            '--config=lint.isort.force-single-line=true',
            '--config=lint.isort.order-by-type=false',
        ]
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    -   id: black
        args: [--check,--target-version,py39]
-   repo: https://github.com/PyCQA/flake8
    rev: 7.1.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-rst-docstrings>=0.2.3',
        ]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.1
    hooks:
    -   id: mypy
        # equivalent to "files" in .mypy.ini
        files: '^(Bio|BioSQL)/'
-   repo: https://github.com/asottile/blacken-docs
    rev: 1.18.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.2.0]
        exclude: ^.github/
-   repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.0
    hooks:
    -   id: rstcheck
        args: [
            '--ignore-roles=ref,numref,py:mod',
            --ignore-directives=toctree,
            --ignore-substitutions=version,
            --report-level=warning,
            --ignore-messages=Unknown\ target\ name
        ]
-   repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
    -   id: doc8
        additional_dependencies: [pygments]
        args: [
        --quiet,
        --ignore-path=Doc/examples/ec_*.txt,
        '--ignore=D000,D001,D002,D004'
    ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        files: \.(rst|md)$
        args: [
            --ignore-regex,
            '(^|\W)([A-Z]{2,3})(\W|$)',
            -L,
            'ser,hsa,hist,fpr,blosum,ags,manuel,Mian'
        ]
-   repo: local
    hooks:
    -   id: doi-link-style
        name: Enforce https://doi.org/ style
        description: Check DOI link style, see https://www.crossref.org/display-guidelines/
        entry: '(?i)(doi:|dx\.doi\.org|http://doi\.org)'
        language: pygrep
        files: \.(rst|tex)$
    -   id: contrib-sort
        name: Contributor sorting
        description: Confirms alphabetical sorting of the CONTRIB.rst file
        entry: bash -c 'for n in $(seq 0 "$#"); do grep "^- " "${!n}" | LC_ALL=C sort -u -c -f; done'
        #entry: 'grep "^- " CONTRIB.rst | LC_ALL=C sort -u -c -f'
        language: system
        files: ^CONTRIB\.rst$
ci:
    # Settings for the https://pre-commit.ci/ continuous integration service
    autofix_prs: true
    # Default message is more verbose
    autoupdate_commit_msg: '[pre-commit.ci] autoupdate'
    # Default is weekly
    autoupdate_schedule: quarterly
    # Currently pre-commit.ci checks all files, and all hooks takes too long
    # and causes a timeout - so as a short-term workaround, skip flake8 etc:
    skip: [
        check-json,
        mixed-line-ending,
        flake8,
        rstcheck,
        doc8,
        codespell,
        doi-link-style
    ]

removing deprecated code
  Bio/Align/__init__.py
  Bio/HMM/DynamicProgramming.py
  Bio/HMM/MarkovModel.py
  Bio/HMM/Trainer.py
  Bio/HMM/Utilities.py
  Bio/SCOP/__init__.py
  Bio/motifs/__init__.py
Due: none

Handle possible non-existent attrs in clusterbuster.py
  Bio/motifs/clusterbuster.py
Due: none

SnapGene: Filter out partial binding sites.
  Bio/SeqIO/SnapGeneIO.py
Due: none

add spaces in Tests/test_Align_Alignment_format.py required by the style check
  Tests/test_Align_Alignment_format.py
Due: none

added test and docstring for #5053
  Bio/SeqIO/SnapGeneIO.py
  Tests/SnapGene/sample-hybridization-params.dna
  Tests/test_SeqIO_SnapGene.py
  hht2+-1000.dna
Due: none

check for if terminal_columns is defined in Bio/Align/__init__.py
  Bio/Align/__init__.py
Due: none

Improve test script to use unittest
  Bio/Align/__init__.py
  Tests/test_Align_Alignment_format.py
Due: none

Add names to CONTRIB.rst
  CONTRIB.rst
Due: doi-link-style, contrib-sort

Use try-except to handle missing attributes
  Bio/motifs/clusterbuster.py
Due: none

Avoid CB output when an attribute is None
  Bio/motifs/clusterbuster.py
Due: none

Move TestAlignmentFormat into Tests/test_Align_Alignment.py, fixed black style
  Bio/Align/__init__.py
  Tests/test_Align_Alignment.py
  Tests/test_Align_Alignment_format.py
Due: none

Handle possible non-existent attributes in clusterbuster.py (#5074)
  Bio/motifs/clusterbuster.py
  CONTRIB.rst
Due: doi-link-style, contrib-sort

Add terminal_columns to the Alignment class as a new attribute
  Bio/Align/__init__.py
Due: none

move terminal_columns into a class attribute
  Bio/Align/__init__.py
  Tests/test_Align_Alignment.py
Due: none

set terminal_columns to 80 to ensure backward compatibility for other tests
  Tests/test_Align_Alignment.py
Due: none

Make `PDB.Chain.__getitem__` more lenient for indexing with `int`-like values (#5018)
  Bio/PDB/Chain.py
  Tests/test_PDB_SMCRA.py
Due: none

Stay at black 24.10.0
  .pre-commit-config.yaml
Due: none

B017 - avoid blind exception
  Tests/test_AlignIO.py
Due: none

Stay on mypy 1.16.1
  .pre-commit-config.yaml
Due: none

Add paragraph about iplotx in Phylo tutorial (#5028)
  Doc/Tutorial/chapter_phylo.rst
  Doc/images/phylo-color-iplotx.png
  NEWS.rst
Due: doi-link-style

Sort names
  NEWS.rst
Due: doi-link-style

Test on Python 3.10 ~ 3.14
  .github/workflows/ci.yml
  NEWS.rst
  README.rst
  setup.py
Due: doi-link-style

Fix markup, update & sort names
  NEWS.rst
Due: doi-link-style

Add OpenSCAD code to enable multimaterial printer output
  Bio/PDB/SCADIO.py
Due: none

make spheres nicer on first start
  Bio/PDB/SCADIO.py
Due: none

update NEWS file
  NEWS.rst
Due: doi-link-style

Writing more tests, anddiscovering edge case behavior (see commented out test)
  Tests/test_align.py
Due: none

modify tests & remove unused code
  Bio/Align/__init__.py
  Tests/test_align.py
Due: none

replace deprecated method
  Bio/Align/__init__.py
  Tests/test_align.py
Due: none

1st step towards working with coordinates
  Bio/Align/__init__.py
Due: none

Added tests and made changes to accommodate input Alignments of more than two sequences
  Bio/Align/__init__.py
  Tests/test_align.py
Due: none
