Repository biopython/biopython: changes, and which pre-commit hooks are due for each by the changed paths.
All: doi-link-style, contrib-sort

.pre-commit-config.yaml:

# See CONTRIBUTING.rst, we expect this to be run via a git pre-commit hook.
# You can also run the checks directly at the terminal, e.g.
#
# $ pre-commit run --all-files
#
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-executables-have-shebangs
        files: \.(py|sh)$
    -   id: check-json
    -   id: end-of-file-fixer
        files: \.py$
    -   id: mixed-line-ending
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.0
    hooks:
    # Run the Ruff linter.
    -   id: ruff
        args: [
            '--fix',
            '--extend-select=B,C4,D,ISC,UP',
            '--extend-ignore=E501,F401,F841,D105,D2,D4',
            '--extend-ignore=B007,B009,B010,B018,B028,B904,UP031',
            '--extend-per-file-ignores=Tests/*.py:D101,Tests/*.py:D102,Tests/*.py:D103',
            '--extend-per-file-ignores=Tests/*.py:B015',
            '--config=lint.isort.force-single-line=true',
            '--config=lint.isort.order-by-type=false',
        ]
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    -   id: black
        args: [--check,--target-version,py39]
-   repo: https://github.com/PyCQA/flake8
    rev: 7.1.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-rst-docstrings>=0.2.3',
        ]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.1
    hooks:
    -   id: mypy
        # equivalent to "files" in .mypy.ini
        files: '^(Bio|BioSQL)/'
-   repo: https://github.com/asottile/blacken-docs
    rev: 1.18.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.2.0]
        exclude: ^.github/
-   repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.0
    hooks:
    -   id: rstcheck
        args: [
            '--ignore-roles=ref,numref,py:mod',
            --ignore-directives=toctree,
            --ignore-substitutions=version,
            --report-level=warning,
            --ignore-messages=Unknown\ target\ name
        ]
-   repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
    -   id: doc8
        additional_dependencies: [pygments]
        args: [
        --quiet,
        --ignore-path=Doc/examples/ec_*.txt,
        '--ignore=D000,D001,D002,D004'
    ]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
    -   id: codespell
        files: \.(rst|md)$
        args: [
            --ignore-regex,
            '(^|\W)([A-Z]{2,3})(\W|$)',
            -L,
            'ser,hsa,hist,fpr,blosum,ags,manuel,Mian'
        ]
-   repo: local
    hooks:
    -   id: doi-link-style
        name: Enforce https://doi.org/ style
        description: Check DOI link style, see https://www.crossref.org/display-guidelines/
        entry: '(?i)(doi:|dx\.doi\.org|http://doi\.org)'
        language: pygrep
        files: \.(rst|tex)$
    -   id: contrib-sort
        name: Contributor sorting
        description: Confirms alphabetical sorting of the CONTRIB.rst file
        entry: bash -c 'for n in $(seq 0 "$#"); do grep "^- " "${!n}" | LC_ALL=C sort -u -c -f; done'
        #entry: 'grep "^- " CONTRIB.rst | LC_ALL=C sort -u -c -f'
        language: system
        files: ^CONTRIB\.rst$
ci:
    # Settings for the https://pre-commit.ci/ continuous integration service
    autofix_prs: true
    # Default message is more verbose
    autoupdate_commit_msg: '[pre-commit.ci] autoupdate'
    # Default is weekly
    autoupdate_schedule: quarterly
    # Currently pre-commit.ci checks all files, and all hooks takes too long
    # and causes a timeout - so as a short-term workaround, skip flake8 etc:
    skip: [
        check-json,
        mixed-line-ending,
        flake8,
        rstcheck,
        doc8,
        codespell,
        doi-link-style
    ]

validate that the output param is set to xml and raise NotImplemented if not
  Bio/ExPASy/ScanProsite.py
Due: none

scanprosite tests (requires internet)
  Tests/test_ExPASy.py
Due: none

an offline test for ScanProsite.read()
  Tests/ExPASy/scanprosite_response.xml
  Tests/test_ExPASy.py
Due: none

shift offline tests to their own module so they get executed in the CI
  Tests/test_ExPASy.py
  Tests/test_ExPASy_offline.py
Due: none

consistent name across files
  CONTRIB.rst
Due: doi-link-style, contrib-sort

add name to news
  NEWS.rst
Due: doi-link-style

Move name to next release
  NEWS.rst
Due: doi-link-style

Update ScanProsite for new XML format from ScanProsite API (#5099)
  Bio/ExPASy/ScanProsite.py
  CONTRIB.rst
  NEWS.rst
  Tests/ExPASy/scanprosite_response.xml
  Tests/test_ExPASy.py
  Tests/test_ExPASy_offline.py
Due: doi-link-style, contrib-sort

fix error message raised when the target is not found in the tree
  Bio/Phylo/BaseTree.py
  Tests/test_Phylo.py
Due: none

add missing space to PDBIO _ATOM_FORMAT_STRING
  Bio/PDB/PDBIO.py
  Tests/PDB/bromomethane.pdb
  Tests/test_PDB_PDBIO.py
Due: none

add missing space in the format string
  Bio/PDB/PDBIO.py
Due: none

test for fixed format string
  Tests/PDB/bromomethane.pdb
  Tests/test_PDB_PDBIO.py
Due: none

Bio/Entrez/Parser.py: Enforce TLS/SSL in DataHandler.schemaHandler as well
  Bio/Entrez/Parser.py
Due: none

Tests/test_Entrez_parser.py: Make execution work from repository root
  Tests/test_Entrez_parser.py
Due: none

Bio/Entrez/Parser.py: Enforce TLS/SSL with DTD downloads
  Bio/Entrez/Parser.py
Due: none

NEWS.rst|CONTRIB.rst: Add myself
  CONTRIB.rst
  NEWS.rst
Due: doi-link-style, contrib-sort

Tests/test_Entrez_parser.py: Cover enforcement of TLS/SSL with DTD downloads
  Tests/test_Entrez_parser.py
Due: none

Make pre-commit CI more helpful
  .github/workflows/ci.yml
Due: none

Add testing for vector_to_axis
  Tests/test_PDB_vectors.py
Due: none

Bio/Entrez/Parser.py: Enforce TLS/SSL with XSD downloads
  Bio/Entrez/Parser.py
Due: none

Remove Python 3.8 support leftovers
  Bio/SearchIO/HmmerIO/hmmer3_text.py
  Bio/SearchIO/_utils.py
  Tests/test_PhyloXML.py
Due: none

update
  Bio/Blast/_parser.py
  Bio/Blast/_writers.py
  Bio/Entrez/__init__.py
Due: none

update
  Bio/Blast/_parser.py
Due: none

update
  Bio/Entrez/Parser.py
Due: none

Thank Ziyan Rao in NEWS.rst
  NEWS.rst
Due: doi-link-style

Add Ziyan Rao to CONTRIB.rst
  CONTRIB.rst
Due: doi-link-style, contrib-sort

Thank Ziyan Rao in NEWS.rst and CONTRIB.rst (#5111)
  CONTRIB.rst
  NEWS.rst
Due: doi-link-style, contrib-sort

Fix typo/bug in biopython.Bio.PDB.vectors vector_to_axis (#5045)
  Bio/PDB/vectors.py
  Tests/test_PDB_vectors.py
Due: none

update
  Bio/Entrez/DTDs/pubmed_230101.dtd
  Bio/Entrez/DTDs/pubmed_240101.dtd
  Bio/Entrez/DTDs/pubmed_250101.dtd
  Bio/Entrez/Parser.py
  Tests/Entrez/ncbi_mim.xml
  Tests/Entrez/nucleotide1.xml
  Tests/Entrez/nucleotide2.xml
  Tests/Entrez/protein.xml
  Tests/Entrez/pubmed1.xml
  Tests/Entrez/pubmed2.xml
  Tests/Entrez/taxonomy.xml
  Tests/test_Entrez_parser.py
Due: none

README.rst: Mass-replace http:// links with https://
  README.rst
Due: doi-link-style

update
  Tests/Entrez/einfo1.xml
  Tests/Entrez/taxonomy.xml
  Tests/test_Entrez_parser.py
Due: none

update
  Tests/Entrez/esummary1.xml
  Tests/Entrez/esummary2.xml
  Tests/Entrez/esummary3.xml
  Tests/Entrez/esummary4.xml
  Tests/Entrez/esummary5.xml
  Tests/Entrez/esummary6.xml
  Tests/Entrez/esummary7.xml
  Tests/Entrez/esummary8.xml
  Tests/test_Entrez_parser.py
Due: none

update
  Tests/Entrez/esearch1.xml
  Tests/Entrez/esearch2.xml
  Tests/Entrez/esearch3.xml
  Tests/Entrez/esearch4.xml
  Tests/Entrez/esearch5.xml
  Tests/Entrez/esearch6.xml
  Tests/Entrez/esearch7.xml
  Tests/Entrez/esearch8.xml
  Tests/test_Entrez_parser.py
Due: none

update
  Tests/Entrez/epost1.xml
  Tests/Entrez/epost2.xml
  Tests/Entrez/epost3.xml
  Tests/test_Entrez_parser.py
Due: none
