Repository biopython/biopython: changes, and which pre-commit hooks are due for each by the changed paths.
All: doi-link-style, contrib-sort

doi-link-style:
  name: Enforce https://doi.org/ style
  description: Check DOI link style, see https://www.crossref.org/display-guidelines/
  entry: (?i)(doi:|dx\.doi\.org|http://doi\.org)
  language: pygrep

contrib-sort:
  name: Contributor sorting
  description: Confirms alphabetical sorting of the CONTRIB.rst file
  entry: bash -c 'for n in $(seq 0 "$#"); do grep "^- " "${!n}" | LC_ALL=C sort -u -c -f; done'
  language: system

Exclude skipped columns from the identity-model denominator
  Bio/Phylo/TreeConstruction.py
  CONTRIB.rst
  NEWS.rst
  Tests/test_TreeConstruction.py
Due: doi-link-style, contrib-sort

Fix contributor ordering and apply black to touched test file
  CONTRIB.rst
  Tests/test_GenBank.py
Due: doi-link-style, contrib-sort

Correct contributor list position
  CONTRIB.rst
Due: doi-link-style, contrib-sort

Accept CLUSTALW as a Clustal header word (#5358)
  Bio/Align/clustal.py
  Bio/AlignIO/ClustalIO.py
  CONTRIB.rst
  NEWS.rst
  Tests/test_AlignIO_ClustalIO.py
  Tests/test_Align_clustal.py
Due: doi-link-style, contrib-sort

Assign hydrogen to four character atom names like HNZ1
  Bio/PDB/Atom.py
  NEWS.rst
  Tests/test_PDB_SMCRA.py
Due: doi-link-style

Validate run_cealign arguments instead of crashing
  Bio/PDB/ccealignmodule.c
  Tests/test_PDB_CEAligner.py
Due: none

ruff PLR1730 (if-stmt-min-max)
  Bio/Align/__init__.py
  Bio/Align/bigbed.py
  Bio/Align/clustal.py
  Bio/Align/substitution_matrices/__init__.py
  Bio/Graphics/Comparative.py
  Bio/Graphics/Distribution.py
  Bio/Graphics/GenomeDiagram/_CircularDrawer.py
  Bio/Graphics/GenomeDiagram/_LinearDrawer.py
  Bio/NMR/xpktools.py
  Bio/Nexus/Trees.py
  Bio/PDB/DSSP.py
  Bio/PDB/mmcifio.py
  Tests/test_Align_mauve.py
Due: none

ruff FURB136 (if-expr-min-max)
  Bio/AlignIO/MsfIO.py
  Bio/SearchIO/BlatIO.py
  Bio/SeqIO/InsdcIO.py
Due: none

ruff PLR1716 (boolean-chained-comparison)
  Bio/Graphics/GenomeDiagram/_LinearDrawer.py
  Bio/SearchIO/FastaIO.py
  Bio/Seq.py
Due: none

Tell ruff to leave 'unused-noqa' alone (may be used for flake8)
  .pre-commit-config.yaml
Due: none

Tell ruff to ignore our non-PEP8 module names (N999)
  .pre-commit-config.yaml
Due: none

Tell ruff to ignore RUF023 (unsorted-dunder-slots)
  .pre-commit-config.yaml
Due: none

Tell ruff to ignore RUF022 (unsorted-dunder-all)
  .pre-commit-config.yaml
Due: none

Path conditions:
  doi-link-style: any of: \.(rst|tex)$
  contrib-sort: any of: ^CONTRIB\.rst$
